.icon_wrapper {
  display: flex;
  padding: 2px;
  justify-content: end;
  align-items: center;
}

.icon {
  height: 25px;
  width: 25px;
  @media (max-width: 374px) {
    height: 15px;
    width: 15px;
  }
}
