@import '../../../../../vars&mixins.scss';
@import '../../../../../../../scss/cabinet';
@import '../../../../../../../scss/_vars';
@import '../../../../../../../scss/typography';

.menu {
  &__item {
    flex: none;
    height: 132px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow2;
  }

  &__balance {
    display: flex;
    flex-wrap: wrap;
    border: none;
    position: relative;
    width: 147px;
    padding: 20px;
    &:hover {
      path {
        stroke: $color-8C-violet;
      }
    }
  }

  &__title {
    @include font-style(14px, 600, 1, $color-99-gray);
    margin-top: 10px;
    margin-bottom: 5px;
  }

  &__sum {
    @include font-style(14px, 600, 20px, $color-3A-black);
    @include ellipsisText();
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
  }
}

.row {
  display: flex;
  align-items: center;
  overflow: hidden;

  span {
    white-space: nowrap;
    @include mediumP3($color-3A-black);
  }

  img {
    margin-left: 5px;
  }
}

.lockup {
  @include main($color-99-gray);
  font-weight: $fontWeightSemiBold;
  font-size: 10px;
  line-height: 1.4;
  margin-top: 3px;
}
