@import '../../../../../../../scss/cabinet';

.menu {
  &__item {
    flex: none;
    height: 132px;
    margin-right: 10px;
    margin-bottom: 30px;
  
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow2;
  }
  
  &__balance {
    display: flex;
    flex-wrap: wrap;
    border: none;
    position: relative;
    width: 147px;
    padding: 20px;
    &:hover {
      path {
        stroke: #8ca4f2;
      }
    }
  }
  
  &__title {
    @include font-style(14px, 600, 20px, $color-gray-mouse);
    margin-top: 10px;
    margin-bottom: 2px;
  }
  
  &__sum {
    @include font-style(14px, 600, 20px, $color-gray-black);
    // word-wrap: break-word;
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
  }
}
