.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 70px;
  z-index: 1;
}

.wrap {
  position: relative;
  display: flex;
  align-items: center;
  //gap: 15px;
}

.logout {
  margin-right: 8px;
  margin-left: 8px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;

  &:hover {
    cursor: pointer;
  }
}

.logo {
  max-width: 150px;
  transform: translateY(42px);
}

.profileLogo {
  margin-right: 8px;
  transform: translateY(2px);
}

.logoLink {
  margin-right: 24px;

  & > img {
    transform: translateY(1px);
  }
}

.logoIcon {
  transform: translateY(-42px);
}

.row {
  width: 21px;
  height: 2px;
  background: #4a70f8;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.logoInOpenBurger {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-self: flex-start;
  max-height: 11px;
  max-width: 162px;
  position: relative;
  top: -60px;
}

.list {
  display: flex;
  box-sizing: border-box;
  margin: 30px 0 0;
  padding: 0;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 20px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #393C42;

  &:hover {
    cursor: pointer;
    opacity: .5;
  }
}

.social {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
  padding: 30px 0 0;
  list-style: none;
  justify-content: space-between;
}

.group {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
  padding: 24px 0 10px;
  justify-content: space-between;
}

.languageGroup {
  display: flex;
  flex-direction: row;
}

.language {
  color: #b4bfd5;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 0 0 0;
}

.languageIcon {
  display: flex;
  margin: 0 5px 0 0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.email {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  & > a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4A70F8;
    text-decoration: none;
  }
}

.socialIcon {
  display: flex;
  box-sizing: border-box;
  width: 46px;
  height: 46px;
  margin: 0 10px 0 0;
  padding: 0;

  &:last-child {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.YouTubeLink {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 12px;
  border-radius: 50%;
  background-color: #D3D8DF;
  width: 40px;
  height: 40px;

  &:hover {
    cursor: pointer;
  }
}

.YouTubeIcon {
  opacity: unset;
}

.burgerMenuOpened {
  display: flex;
}

.burgerMenuClosed {
  display: none;
}

.content {
  margin-bottom: auto;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &_item:not(:last-child) {
    margin-bottom: 15px;
  }
  
  &_link {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: #4A70F8;
    text-decoration: none;

    & > svg > path,
    & > svg > circle {
      stroke: #4A70F8;
    }
  }

  &_icon {
    height: 30px;
  }

  &_title {
    margin-left: 15px;
  }
}

.social {
  display: flex;
  // margin: 0 auto;
  max-width: 200px;
  width: 100%;
}

.profileBtn {
  padding: 5px 15px;
  margin: 0 25px 0 0;
  border: 1px solid #4a70f8;
  border-radius: 14px;

  outline: none;
  background-color: #fff;
  
  &_link {
    display: flex;
    align-items: center;
    
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #4a70f8;
    text-decoration: none;
  }
}
