.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 70px;
  max-height: 70px;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 22px;
}

.burger {
  display: flex;
  flex-direction: column;
}

.row {
  width: 21px;
  height: 2px;
  background: #4a70f8;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
