@import '../../../../../vars&mixins.scss';
@import '../../../../../../../scss/cabinet';
@import '../../../../../../../scss/_vars';
@import '../../../../../../../scss/typography';

.balanceModal > div {
  width: 100vw;
  height: 100vh;
}

.balanceBlock {
  padding: 20px;
  margin: auto;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: $font-inter;
  @include main($color-3A-black);
  font-weight: bold;
  font-size: 28px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.line {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 40px;
    height: 40px;
  }
}

.usd {
  font-family: $font-inter;
  font-style: normal;
  @include mediumP3($color-4F-black);
  font-weight: $fontWeightSemiBold;
  margin-top: 3px;
}
