@import '../../../../../../scss/typography.scss';
@import '../../../../../../scss/vars.scss';

.card {
  display: grid;
  margin: 0 auto;
  padding: 20px 22px;
  height: 274px;
  box-sizing: border-box;
  background-color: $color-F9-white;
  border-radius: $border-radius;
  width: 100%;
  grid-template-columns: 110px minmax(min-content, max-content);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-template-areas:
    'foto team'
    'foto team'
    'paragraph paragraph';

  &__foto {
    grid-area: foto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(0deg, #F1F1F0, #F1F1F0);
  }

  .fotoContainer {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    margin: 0 14px 21px 0;
    padding: 0;
    height: 95px;
    width: 95px;
  }

  &__teamMember {
    grid-area: team;
  }

  &__job {
    margin: 0;
    padding: 0 0 4px 0;
    box-sizing: border-box;
    @include main($color-99-gray);
    font-family: $main-font;
    font-weight: $fontWeightMedium;
    font-size: 13px;
    line-height: 1.4;
    max-width: 150px;
  }

  &__jobLong {
    margin: 0;
    padding: 0 0 4px 0;
    box-sizing: border-box;
    @include main($color-99-gray);
    font-family: $main-font;
    font-weight: $fontWeightMedium;
    font-size: 13px;
    line-height: 1.4;
    max-width: 110px;
  }

  &__name {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    font-weight: $fontWeightSemiBold;
    @include main($color-3A-black);
    font-size: 14px;
    line-height: 1.4;
  }

  &__paragraph {
    grid-area: paragraph;
    margin: 0;
    padding: 12px 0 0 0;
    box-sizing: border-box;
    border-top: 1px solid $color-DB-white;
    font-family: $main-font;
    font-weight: $fontWeightRegular;
    @include main($color-4F-black);
    font-size: 14px;
    line-height: 1.5;
  }
}
