@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.MuiPaginationItem-page + .Mui-selected {
  background-color: $white !important;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.08), 0 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.MuiPaginationItem-page {
  color: $color-1D-black !important;
  font-style: normal !important;
  font-weight: $fontWeightMedium !important;
  font-size: 17px !important;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 47px 0;

  &__item-count {
    @include mediumP3($color-96-grey);
  }
}

.pagination-settings-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__text {
    @include mediumP3($color-96-grey);
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;

  &__button {
    background: $white;
    border-radius: 6px;
    @include mediumP3($color-96-grey);
    width: 32px;
    height: 32px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.active_count {
  color: $color-1D-black;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.08), 0 4px 16px rgba(0, 0, 0, 0.08);
}

.row-count_select {
  white-space: nowrap;
}

.row-count_select input[name='pageSize'] {
  opacity: 0;
  position: fixed;
  width: 0;
}
