@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.slide_notification {
  border-radius: 8px;
  min-width: 300px;
  height: 44px;
  background-color: $notification-black;
  color: $white;
  align-items: center;
  display: flex;
  cursor: pointer;

  &__content {
    display: flex;
    flex-direction: row;
    padding: 0 14px;
    align-items: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__text {
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
  }
}
