.asset {
  display: flex;
  align-items: center;

  > img {
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
  }

  > p {
    margin: 0 8px 0 6px;
    color: rgba(79, 132, 138, 1);
  }

  > div {
    display: flex;
    align-items: center;

    > img[class='purse'] {
      width: 24px;
      height: 24px;
      margin: 0 10px 0 0;
    }

    > img[class='union'] {
      width: 18px;
      height: 18px;
    }
  }
}

.earning {
  color: rgba(0, 218, 35, 1);
}

.other {
  justify-self: center;
  cursor: pointer;
}
