@import '../../../vars&mixins.scss';
@import '../../../../../scss/cabinet';
@import '../../../../../scss/_vars';
@import '../../../../../scss/typography';

.roadMapContainer {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 50px 0 0 0;
  h3,p {
    margin: 0;
    padding: 0;
  }

  .roadMapRound {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .emptyContainer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 0;
    width: 20px;
    height: 100%;
    border-left: 4px solid $primary-color;

    span {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 110px;
      border-top: 2px solid $primary-color;

      &:last-child {
        height: 85px;
      }
    }
  }

  .roundText {
    display: flex;
    box-sizing: border-box;
    margin: 12px 0 0 0;
    h3{
      @include section-title($color-4F-black)
    }
    data {
      @include subtitle-14px($color-86-grey)
    }
  }

  .roundVisualization {
    @include subtitle-14px($color-86-grey);
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 15px 0;
    padding: 5px 10px;
    border-radius: 6px;
  }

  .roundDate {
    @include subtitle-13px($color-4F-black);
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 0 10px;
  }

  .round {
    margin-right: 10px;
  }
}