.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.image {
  position: relative;
  margin-bottom: 16px;

  img {
    display: block;
  }
}

.edit {
  position: absolute;
  bottom: 3px;
  right: 5px;
  background-image: url('../../../../../assets/icons/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }
}

.name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #393c42;
}

.container {
  display: flex;
  flex-direction: column;
}

.caption {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #393c42;
  margin-bottom: 12px;
}

.documents {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}

.document {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(112, 112, 112, 0.1);
  border-radius: 14px;
  padding: 20px;
  width: 147px;
  height: 132px;
}

.icon {
  width: 40px;
  height: 40px;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #3a3b3d;
  margin-top: 10px;
}

.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #99a0ad;
  margin-top: 2px;
}

.link {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;

  &:hover {
    cursor: pointer;
  }
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 72px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 14px 0;
  height: 100%;
}

.wrapper_edit {
  border: none;
}

.block {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #99a0ad;
  margin-bottom: 4px;
}

.content {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #393c42;
}

.change {
  background: none;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #4a70f8;
}

.arrow {
  width: 24px;
  height: 24px;

  &:hover {
    cursor: pointer;
  }
}

.notification {
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px 24px;
  background: #f0f5fd;
  border-radius: 14px;
  height: 76px;
  margin-top: 15px;

  &_invisible {
    display: none;
  }
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: #4f535a;
}

.smartphone {
  position: absolute;
  top: 7px;
  right: 40px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    cursor: pointer;
  }
}
