@import '../../../../scss/typography.scss';
@import '../../../../scss/vars.scss';

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 0;
    background-color: $white;
}
.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
  }
.title {
    font-family: $main-font;
    @include main($color-3A-black);
    font-weight: $fontWeightSemiBold;
    font-size: 32px;
    line-height: 100%;
    margin: 0 0 30px;
    display: flex;
    align-items: center;
}
.title img {
    margin-left: 10px;
    border: none;
}
.video__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}
.video__container img {
    width: 100%;
}
.video__container img:nth-child(1) {
    border-top-left-radius: 14px;
}
.video__container img:nth-child(2) {
    border-top-right-radius: 14px;
}
.video__container img:nth-child(3) {
    border-bottom-left-radius: 14px;
}
.video__container img:nth-child(4) {
    border-bottom-right-radius: 14px;
}
.icon {
    background: $color-F2-red;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 50%;
}
@media all and (max-width: 768px) {
    .container {
        padding: 60px 0;
    }
    .wrapper {
        max-width: 100%;
        width: 100%;
        padding: 0 20px;
    }
    .title {
        font-size: 22px;
    }
    .title img {
        margin-left: 10px;
        border: none;
        width: 22px;
    }
}