@import '../../../../../../../vars&mixins.scss';

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;

  &Item {
    width: 100%;

    &:not(:last-child) {
      margin-right: 10px;
    }

    .btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 12px 0;
      width: 100%;
      border: none;
      border-radius: $border-radius;
      background: $color-ED-white;
      outline: $outline;
  
      @include subtitle-13px($color-4A-blue);
      font-weight: $fontWeightSemiBold;

      &__active {
        color: $white;
        background-color: $color-4A-blue;
      }
    }
  }
}