@import '../../../../scss/typography.scss';
@import '../../../../scss/_vars.scss';

.searchForm {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  background-color: transparent;
}

.searchForm_desktop {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  background-color: $white;
  border-top: 1px solid $color-E5-grey;
  position: fixed;
  bottom: 20px;
  width: 375px;
  border-radius: 0 0 $border-radius $border-radius;
  z-index: 10;
}

.searchInput {
  background-color: transparent;
  border: 1.4px solid $color-B4-violet;
  border-radius: $border-radius;
  width: 100%;
  height: 45px;
  padding: 0 0 0 18px;
  font-family: $main-font;
  @include main($color-3A-black);
  font-weight: $fontWeightMedium;
  @include h4;

  &::placeholder {
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $main-font;
    @include main($color-B4-violet);
    font-weight: $fontWeightMedium;
    @include h4;
  }

  &:active {
    outline: 1.4px solid $color-67-black;
    border: 1.4px solid $color-67-black;
  }

  &:focus {
    outline: $outline;
    border-radius: $border-radius;
  }
}

.resetButton {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 14px;
  border: none;
  background-color: transparent;
  font-family: $main-font;
  @include main($primary-color);
  font-weight: $fontWeightMedium;
  font-size: 13px;
  line-height: 1.4;
  align-self: center;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: $outline;
  }
}

.closeButton {
  display: flex;
  box-sizing: border-box;
  margin: 12px 0;
  padding: 0;
  width: 20px;
  height: 20px;
  position: relative;
  left: -33px;
  z-index: 7;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: $outline;
  }
}

.subtitle {
  display: flex;
  box-sizing: border-box;
  padding: 50% 0 8px 0;
  margin: 0 auto;
  width: 90%;
  font-family: $main-font;
  @include main($color-4F-black);
  font-weight: $fontWeightSemiBold;
  font-size: 14px;
  line-height: 1.45;
  justify-content: center;

  &_invisible {
    display: none;
  }
}

.text {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  width: 90%;
  font-family: $main-font;
  @include main($color-4F-black);
  font-weight: $fontWeightMedium;
  font-size: 13px;
  line-height: 1.45;
  text-align: center;
  justify-content: center;

  &_invisible {
    display: none;
  }
}