@import '../../../../vars&mixins.scss';
@import '../../../../../../scss/cabinet';
@import '../../../../../../scss/_vars';
@import '../../../../../../scss/typography';

.table {
  margin-bottom: 25px;
  width: 100%;
  border-radius: 20px;
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;

  & tr:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.th {
  padding-bottom: 9px;
  @include subtitle-14px($color-99-gray);
  background: white;
}

.td {
  width: 30%;
  padding-top: 16px;

  &__progress {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 15px;
    max-width: 136px;
    margin: 0;
  }
}

.progressbar { 
  position: relative;
  width: 83px;
  height: 4px;
  border-radius: 6px;
  background: $color-E5-white;

  &__track {
    position: relative;
    overflow: hidden;
    display: block;
    width: 85%;
    height: 100%;
    background-color: $color-47-green;
  } 
}