.main {
  display: flex;
  justify-content: center;
  background: #f7f9ff;
  width: 100%;
  padding: 0 20px;
  padding-top: 60px;
  padding-bottom: 20px;
  // padding-bottom: 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
}

@media all and (max-width: 768px) {
  .main {
    padding-top: 20px;
  }
}
