.active {
  background: var(--puls-bg-color);
  box-shadow: var(--puls-box-shadow);
  animation: active 3s infinite;
  animation-timing-function: linear;
}

@keyframes active {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
