.orbit {
  position: relative;
  box-sizing: border-box;
  height: 388px;
}

.orbit .block_ellips {
  position: relative;
  display: grid;
  justify-items: center;

  & .puls {
    position: absolute;
    transform: var(--puls-transform-color);

    animation: puls 10s infinite;
    animation-timing-function: linear;
  }

  & .ellipse {
    position: absolute;
    z-index: 3;
  }

  & .ellipse_drk {
    position: absolute;
    z-index: 2;
  }

  & .path {
    position: absolute;
    z-index: 1;
  }
}

.orbit .block_logo {
  position: relative;
  margin-top: 123.56px;
  display: grid;
  justify-items: center;
  grid-template: repeat(1,52px) / 1fr repeat(4, 1fr) 1fr;
  align-items: center;
  grid-column-gap: 70px;
  z-index: 2;
}
