.sidebarHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 26px 0 16px;
  border-bottom: 1px solid rgba(188, 195, 208, 0.5);

  .closeIcon {
    width: 14px;
    height: 14px;
    cursor: pointer;
  }

  .orderStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
  }

  .orderNumber {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    margin-top: 20px;
    margin-left: 24px;
  }

  .sectionDate {
    margin-left: 24px;
    margin-top: 4px;
    font-size: 17px;
    line-height: 24px;
    color: #1D2023;
  }

  .sectionInfo {
    display: flex;
    margin-left: 24px;
    margin-top: 4px;

    .sectionInfoValues {
      margin-left: 8px;

      .variable {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #1D2023;
      }
    }

    .variable {
      font-size: 14px;
      line-height: 20px;
      color: #626C77;
    }
  }
}

.sidebarContent {
  height: calc(100% - 300px);
  overflow: auto;
  border-bottom: 1px solid rgba(188, 195, 208, 0.5);

  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px lightgray;
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
  
    &:hover {
      background: '#bfbfbf';
    }
  }

  .orderDetails {
    margin-left: 24px;
    margin-right: 24px;
  }

  .sectionName {
    margin: 24px 24px 16px 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
  }

  .detailSection {
    margin-top: 24px;
    margin-bottom: 16px;

    .label {
      color: #626c77;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 4px;
    }

    .sectionValue {
      font-size: 17px;
      font-family: Raleway, sans-serif
    }
  }

  .orderContent {
    .orderHead {
      display: grid;
      grid-template-columns: 1fr 5fr 2fr 2fr;
      margin-bottom: 8px;   
      font-size: 14px;
      line-height: 16px;
      color: #626C77;   
    }
    .orderRow {
      display: grid;
      grid-template-columns: 1fr 5fr 2fr 2fr;
      align-items: center;
      padding: 8px 0;
      border-bottom: 1px solid rgba(188, 195, 208, 0.5);
    }

    .orderElementName {
      display: flex;
      flex-direction: column;

      .name {
        color: #000;
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 8px;
      }

      .article {
        color: #626C77;
        font-size: 12px;
        line-height: 16px;
      }
    }

    .orderElementImage {
      width: 80px;
      height: 80px;
      margin-right: 16px;

      img {
        width: 80px;
        height: 80px;
        object-fit: contain;
        object-position: center;
      }
    }

    .noItems {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      font-family: MTS Sans, sans-serif;
      font-weight: 500;
    }

    .orderElementPrice {
      display: flex;
      align-items: center;
      justify-content: center;

      .priceContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .count {
        color: #1D2023;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
      }

      .price {
        color: #1D2023;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
      }
    }

    .orderElementSumm {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }

    .orderPrice {
      text-align: center;
    }

    .orderElementSumm,
    .orderSumm {
      text-align: right;
    }
    .orderSummary {
      display: flex;
      margin-top: 12px;
      align-items: center;
      justify-content: space-between;

      .summaryLabel,
      .summary {
        font-size: 17px;
        font-weight: bold;

        .summaryCount {
          color: #000;
          font-size: 17px;
          line-height: 24px;
          font-weight: 400;
        }
      }
    }
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}