{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-recess-order"],
  "rules": {
    "declaration-no-important": true,
    "indentation": [2, { "ignore": ["inside-parens"] }]
  },
  "ignoreFiles": ["**/_*.scss"]
}
