@import '../../../../../../scss/typography.scss';
@import '../../../../../../scss/vars.scss';

.container {
  position: relative;

  max-width: 990px;
  width: 100%;
  min-height: calc(100vh - 137px);
  height: 100%;
  margin: 0 auto;
  padding: 39px 0;
}

.title {
  margin: 0 0 63px 0;
  padding: 0;

  @include font-style-pressStart(41px, 400, 65px, #F5F5EF);
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.item {
  position: relative;

  width: fit-content;

  &:not(:last-child) {
    margin-bottom: 73px;
  }

  &::before {
    content: '';

    position: absolute;
    left: -17px;

    height: 100%;
    width: 1px;

    background-color: rgba(25, 226, 255, 0.39);

    filter: drop-shadow(0px 0px 9px rgb(25, 226, 255)) drop-shadow(0px 0px 9px rgb(25, 226, 255))  drop-shadow(0px 0px 9px #19e2ff) drop-shadow(0px 0px 9px #19e2ff) drop-shadow(0px 0px 9px #19e2ff) drop-shadow(0px 0px 9px #19e2ff);
  }
}

.item__title {
  margin: 0 0 16px 0;
  @include font-style-ibmPlexSans(26px, 600, 22px, $primary-color);
  text-transform: uppercase;
}

.item__subtitle {
  display: flex;
  align-items: center;
  margin: 0 0 6px 0;
  @include font-style-ibmPlexSans(16px, 400, 22px, $color-E1-white)
}

.inner {
  transform: translateX(60px);
}

.button {
  margin-bottom: 55px;
}

@keyframes dragging {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
  }

  25% {
    transform: perspective(1000px) rotateX(3deg) rotateY(3deg) scale3d(1, 1, 1);
  }

  50% {
    transform: perspective(1000px) rotateX(6deg) rotateY(6deg) scale3d(1, 1, 1);
  }

  100% {
    transform: perspective(1000px) rotateX(8deg) rotateY(8deg) scale3d(1, 1, 1);
  }
}

.info {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  padding: 50px;
  border-bottom-right-radius: 37px;

  background-image: url('../../../../../../assets/images/infoBorders2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform .3s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  will-change: transform;
  cursor: pointer;
  animation: dragging .5s reverse;

  &:hover {
    animation: dragging .5s forwards;
    will-change: transform;
  }

  &::after {
    content: '';

    position: absolute;
    bottom: -100%;
    right: 43px;

    height: 10px;
    width: 1px;

    background-color: rgba(25, 226, 255, 0.39);
    filter: drop-shadow(0px 0px 5px #19e2ff) drop-shadow(0px 0px 5px #19e2ff) drop-shadow(0px 0px 5px #19e2ff) drop-shadow(0px 0px 5px #19e2ff) drop-shadow(0px 0px 5px #19e2ff);
  }
}

.info__subtitle {
  margin: 0;
  padding: 0;
  max-width: 242px;
  @include font-style-ibmPlexSans(16px, 400, 22px, $color-E1-white);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.animation {
  pointer-events: none;
  position: absolute;
  top: 15%;
  left: 15%;
}

.item__popup {
  margin-left: 6px;
}

.popup {
  position: absolute;
  top: 120%;
  right: -20%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 58px;

  background-image: url('../../../../../../assets/icons/infoBlockBorders2.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity .3s ease;
}

.visible {
  transition: opacity .3s ease;
  opacity: 1;
}

.popup__subtitle {
  width: 261px;
}

.blur {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #19e2ff) drop-shadow(0px 0px 5px #19e2ff) drop-shadow(0px 0px 5px #19e2ff);
}

@media screen and (max-width: 1150px) {
  .animation {
    left: 8%;
  }

  .container {
    width: calc(100vw - 94px);
    padding: 39px 0;
  }

  .title {
    font-size: 35px;
  }

  .list {
    margin: 0 15px 0 0;
  }

  .inner {
    transform: none;
  }

  .info {
    margin-left: 0;

    &::after {
      right: -17px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .animation {
    left: -12%;
    top: 27%;
  }
}

@media screen and (max-width: 769px) {
  .container {
    height: calc(100vh - 77px);
  }

  .animation {
    top: 50%;
    left: 15%;

    & > div {
      width: 400px !important;
      height: 400px !important;
    }
  }
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 19px;
    line-height: 30px;
  }

  .button {
    margin: 23px 0 0 0;
    width: 100%;
  }

  .wrapper {
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
  }

  .list,
  .inner {
    width: fit-content;
  }
}