@import '../../../../../../../vars&mixins.scss';
@import '../../../../../../../../../scss/cabinet';
@import '../../../../../../../../../scss/_vars';
@import '../../../../../../../../../scss/typography';

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;

  &Item {
    width: 100%;

    &:not(:last-child) {
      margin-right: 10px;
    }

    .btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 12px 0;
      width: 100%;
      border: none;
      border-radius: $border-radius;
      background: $color-ED-white;
      //outline: none;
      @include subtitle-13px($color-4A-blue);
      font-weight: $fontWeightSemiBold;

      &__active {
        color: $white;
        background-color: $color-4A-blue;
      }
    }
  }  
}

.addInfoCont {
  padding: 10px;
  border-radius: $border-radius;
  background-color: $color-ED-white;

  .addInfo {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  
  .addressContainer {
    display: flex;
    flex-direction: column;
  
    .addressName {
      margin: 0 0 5px 0;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
    
    .addressValue {
      margin: 0 0 10px 0;
      word-wrap: break-word;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: $color-4A-blue;
    }
  }
}

