.startMining {
  position: relative;
  align-self: flex-end;
  width: 100%;
  max-width: 480px;
  min-height: 142px;
  padding: 32px 30px;
  margin: 0 0 20px 0;
  border: 1px solid white;

  &::after,
  &::before {
    position: absolute;
    content: '';
  }

  &::after {
    right: -1px;
    bottom: -1px;
    z-index: 1;
    border-top: 20px solid transparent;
    border-right: 20px solid #192a2c;
    border-bottom: 20px solid #192a2c;
    border-left: 20px solid transparent;

    @media all and (max-width: 768px) {
      right: -2px;
      bottom: -2px;
    }
  }

  &::before {
    right: -8px;
    bottom: 18px;
    z-index: 2;
    width: 55px;
    border-top: 1px solid white;
    transform: rotate(-45deg);
  }

  p {
    margin: 0;
  }

  @media all and (max-width: 1410px) {
    max-width: unset;
  }

  @media all and (max-width: 768px) {
    min-height: unset;
    padding: 20px;
    margin: 20px 0;
  }

  @media all and (max-width: 400px) {
    padding: 21px;
  }
}

.startMining__beforeStart {
  display: flex;
  align-items: center;
  margin: 0 0 14px 0;
  cursor: pointer;

  > p {
    margin: 0 8px 0 0;
  }

  > img {
    width: 8px;
    height: 16px;
  }
}

.startMining__loadingBlock {
  width: 100%;
}

.startMining__loading {
  height: 12px;
  margin: 0 0 12px 0;
  overflow: hidden;
  background: rgba(54, 88, 92, 1);
  border-radius: 12px;
}

.startMining__line {
  height: 100%;
  margin: 0;
  background: rgba(38, 223, 248, 1);
}

.startMining__stats {
  display: flex;
  justify-content: space-between;

  > p:first-of-type {
    font-size: 14px;
    color: rgba(79, 132, 138, 1);

    @media all and (max-width: 400px) {
      font-size: 13px;
    }
  }

  > p:last-of-type {
    color: rgba(38, 223, 248, 1);

    @media all and (max-width: 768px) {
      font-size: 14px;
    }

    @media all and (max-width: 400px) {
      font-size: 13px;
    }
  }
}

