.team {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 80px 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
}

.title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  color: #3a3b3d;
  margin: 0;
  padding: 0 0 40px 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  overflow: auto;
}

.slider {
  display: grid;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 10px;
  overflow: auto;
}

.sliderButtons {
  display: flex;
  margin: 16px auto 0;
  padding: 0;
  box-sizing: border-box;

  &_invisible {
    display: none;
  }
}

.button {
  display: flex;
  margin: 0 6px 0 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: #DCDFEE;
  border-radius: 50%;
  width: 8px;
  height: 8px;

  &_active {
    background-color: #4A70F8;
    border-radius: 6px;
    width: 20px;
  }
}

@media screen and (max-width: 400px) {
  .team {
    padding: 60px 0;
  }

  .title {
    font-size: 22px;
    line-height: 1.6;
    padding: 0 0 20px 0;
  }
}