@import '../../../../../vars&mixins.scss';
@import '../../../../../../../scss/cabinet';
@import '../../../../../../../scss/_vars';
@import '../../../../../../../scss/typography';
.details {
  padding: 0 20px;
  width: 100%;
  max-height: 826px;
  overflow: scroll;
}

.title {
  font-family: $font-inter;
  @include main($color-3A-black);
  font-weight: $fontWeightSemiBold;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.moreButton {
  border: none;
  background: $color-ED-white;
  border-radius: $border-radius;
  display: flex;
  box-sizing: border-box;
  margin: 30px auto 37px;
  padding: 11px 0;
  width: 95%;
  height: 45px;
  font-family: $font-inter;
  @include main($primary-color);
  font-weight: $fontWeightSemiBold;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  justify-content: center;

  &:hover {
    background-color: $primary-color;
    color: $white;
    cursor: pointer;
  }
}

.transactions {
  margin: 25px 0 25px 0;
  padding: 0;
  @include section-title($color-3A-black);
}

.list {
  display: flex;
  margin: 0;
  padding: 20px 0 0 0;

  overflow-x: auto;
  list-style-type: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.btn {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border: none;
  border-radius: 14px;
  @include subtitle-13px($color-39-black);
  font-weight: $fontWeightSemiBold;
  white-space: nowrap;
  outline: $outline;
  background-color: $color-EF-white;

  &Span {
    width: 100%;
    color: $white;
    @include ellipsisText();
  }
}

.btnActive {
  max-width: 183px;
  @include ellipsisText();
  background-color: $color-67-black;
  color: $white;
}

.modalList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.modalItem {
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-top: 20px;
  }
}

.modalBtn {
  padding: 0;
  margin: 0;
  border: none;
  
  @include subtitle-14px($color-4F-black);
  font-weight: $fontWeightSemiBold;
  background-color: transparent;
  outline: $outline;
}

.inputs {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  &::before {
    content: '';
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 23px;
    height: 1px;
    background-color: $color-B4-violet;
  }
  
  .input {
    width: 100%;
    background: $white;
    border: 1.4px solid $color-B4-violet;
    border-radius: $border-radius;
    padding: 16px 10px;
    margin-top: 10px;
    height: 45px;
    font-family: $font-inter;
    font-style: normal;
    font-weight: $fontWeightMedium;
    font-size: 16px;
  
    &::placeholder {
      font-family: $font-inter;
      @include main($color-B4-violet);
      font-weight: $fontWeightMedium;
      font-size: 16px;
      line-height: 1.5;
    }
  }   

  .when {
    display: flex;
    flex-direction: column;
    width: 40%;

    &Subtitle {
      display: block;
      margin-left: 5px;
      @include subtitle-14px($color-4F-black);
    }
  }
}

.sumBtns {
  display: flex;
  justify-content: space-between;
  @mixin sumBtn() {
    border: none;
    outline: $outline;
    background-color: transparent;
    @include subtitle-13px($color-4F-black);
  }

  .reset {
    @include sumBtn();
  }

  .apply {
    @include sumBtn();
    color: $color-4A-blue;
  }
}

.cross {
  margin-left: 5px;
}

.block {
  display: flex;
  align-items: center;
}

.input {
  position: absolute;
  appearance: none;

  &:checked + .checkbox {
    background-image: url('../../../../../../../assets/icons/input-checkbox-check.svg');
  }
}

.checkbox {
  width: 26px;
  height: 26px;
  background-image: url('../../../../../../../assets/icons/input-checkbox.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 12px;
}

.icon {
  margin-right: 8px;
  max-width: 28px;
  max-height: 28px;
}
