@import '../../../../../scss/typography.scss';
@import '../../../../../scss/vars.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.caption {
  font-family: $font-inter;
  @include main($color-3A-black);
  font-weight: $fontWeightSemiBold;
  font-size: 22px;
  line-height: 1.6;
  margin: 0;
}

.question {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  border-bottom: 1px solid $color-E5-grey;

  &:first-child {
    border-top: 1px solid $color-E5-grey;
  }

  span {
    font-family: $font-inter;
    @include main($color-4F-black);
    font-weight: $fontWeightMedium;
    font-size: 14px;
    line-height: 1.6;
  }

  svg {
    transform: rotate(90deg);
  }
}

.item_active {
  .row {
    margin-bottom: 16px;
  }

  .block {
    display: flex;
  }

  span {
    font-weight: 600;
  }

  svg {
    transform: rotate(270deg);
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10px;
}

.block {
  display: none;
  flex-direction: column;
  padding-left: 20px;
}

.text {
  font-family: $font-inter;
  @include main($color-67-black);
  font-weight: $fontWeightMedium;
  font-size: 13px;
  line-height: 1.7;
  margin: 0;
}

.description {
  font-family: $font-inter;
  @include main($color-4F-black);
  font-weight: $fontWeightSemiBold;
  font-size: 13px;
  line-height: 1.7;
  margin-top: 12px;
  margin-bottom: 4px;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  li {
    color: $primary-color;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    span {
      font-family: $font-inter;
      @include main($color-67-black);
      font-weight: $fontWeightMedium;
      font-size: 13px;
      line-height: 1.7;
    }
  }
}
