
@mixin empty-block {
  width: 100%;
  padding: 0;
  margin: 0;
}

@mixin font-gray-13-18($weight) {
  font-family: 'Montserrat', 'Raleway', sans-serif;
  font-weight: $weight;
  font-size: 13px;
  line-height: 18px;
  color: #4F535A;
}

.broadcast {
  width: 100%;
  height: 100%;

  &__items {
    @include empty-block();
    list-style-type: none;
    overflow-y: auto;

    display: flex;
    flex-flow: column;
  }

  &__item {
    @include empty-block();
    display: flex;
    flex-flow: row nowrap;

    & + & {
      margin-top: 15px;
    }
  }

  &__videoFrame {
    position: relative;
    @include empty-block();
    flex: 1 1 50%;
  }

  &__video {
    @include empty-block();
    min-height: 88px;

    border: none;
    border-radius: 14px;
  }

  &__button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 10px;
    height: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 50%;
    background-color: #F24949;
    transition: 0.5s ease-in-out;

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }

  &__info {
    @include empty-block();
    margin-left: 10px;
    flex: 1 1 50%;
  }

  &__title {
    @include empty-block();
    margin-top: 10px;
    margin-bottom: 4px;
    @include font-gray-13-18(600);
  }

  &__source {
    @include empty-block();
    @include font-gray-13-18(500);
  }
}

