// IbmPlexSans
@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-Thin.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-ThinItalic.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-ExtraLight.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-ExtraLightItalic.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-Light.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-LightItalic.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-Regular.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-Italic.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-Medium.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-MediumItalic.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-SemiBold.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-SemiBoldItalic.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-Bold.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./IbmPlexSans/IBMPlexSans-BoldItalic.ttf') format('ttf');
  font-family: 'IbmPlexSans';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// Inter
@font-face {
  src: url('./Inter/Inter-Thin.ttf') format('ttf');
  font-family: 'Inter';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./Inter/Inter-ExtraLight.ttf') format('ttf');
  font-family: 'Inter';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./Inter/Inter-Light.ttf') format('ttf');
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./Inter/Inter-Regular.ttf') format('ttf');
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./Inter/Inter-Medium.ttf') format('ttf');
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./Inter/Inter-SemiBold.ttf') format('ttf');
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./Inter/Inter-Bold.ttf') format('ttf');
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./Inter/Inter-ExtraBold.ttf') format('ttf');
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// PressStart
@font-face {
  src: url('./PressStart/PressStart2P.ttf') format('ttf');
  font-family: 'Press Start 2P';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}