@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

.count {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 26px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid rgba(188, 195, 208, 0.5);
  padding: 0;
  margin: 0;

  &__image {
    width: 16px;
    height: 16px;
    margin: 4px;
  }

  &__number_input {
    min-width: 52px;
    text-align: center;
    border: none;
  }

  &__number_input:focus {
    border: none;
    outline: $outline;
  }

  /* Chrome, Safari, Edge, Opera */
  &__number_input::-webkit-outer-spin-button,
  &__number_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &__number_input[type=number] {
    -moz-appearance: textfield;
  }
}


