@import '../../../../scss/typography.scss';
@import '../../../../scss/vars.scss';

.container {
  width: 100vw;
  max-height: 100vh;
  height: 100%;
}

.header {
  height: 75px;
  padding: 9px;
  border-bottom: 2px solid #112022;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  max-width: 150px;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px 0 20px;
  max-height: calc(100% - 75px); // минус высота хедера
  height: 100%;
}

.close__btn {
  background: transparent;
  border: none;
}

.connect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
  width: 100%;

  & > button {
    min-width: 335px;
  }
}

.list {
  padding: 0 0 26px 0;
  border-bottom: 1px solid #223F42;
  list-style-type: none;
}

.list__title {
  margin: 0 18px 15px 0;
  @include font-style-ibmPlexSans(18px, 600, 22px, $color-F5-white);
}

.item:not(:last-child) {
  margin-bottom: 14px;
}

.item__link {
  @include font-style-ibmPlexSans(16px, 400, 21px, $color-E1-white);
}

.footer {
  margin: auto 0 0 0;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 30px;
  padding: 0;
  width: fit-content;

  list-style: none;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 32px;
  }
}

.footer {
  padding: 0 20px 20px;
}

.utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 300px;
}

.email {
  text-decoration: none;
  @include font-style-ibmPlexSans(18px, 400, 22px, $primary-color);
}

@media screen and (max-width: 370px) {
  .connect__btn {
    min-width: 0 !important;
    width: 100%;
  }
}
// MUI DILOG
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
.redik {
  background-color: #151F20;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.diologContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.diologItem {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  line-height: 22px;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}
.diolognav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.dilogText {
  font-size: 18px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #FCFF00;
}
.itemitem {
  max-width: 142px;
  height: 102px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 35px;
  width: 100%;
  height: 50px;
  background: #FCFF00;
  box-shadow: 0px 0px 42px rgba(252, 255, 0, 0.4);
  border-radius: 30px;
  font-size: 18px;
  line-height: 22px;
  margin: auto;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  }
.itemitem img {
  margin-top: 10px;
}
.itemitemimg {
  padding-top: 20px;
  width: 30px;
}
.itemitem p {
  font-size: 16px;
  margin: 10px 0 10px 0;
  padding: 0;
}
.itemitem:hover {  
  background-color: #151F20;
  border-radius: 16px;
}
.center {
  width: 100%;
  margin: 40px 0;
}

@media all and (max-width: 350px) {
  .dilogText {
    font-size: 16px;
    margin-right: 20px;
  }
}