@import '../../../../scss/typography.scss';
@import '../../../../scss/vars.scss';

.container {
  width: 100vw;
  height: 100vh;
}

.header {
  height: 75px;
  padding: 9px;
  border-bottom: 2px solid #112022;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: calc(100% - 75px); // минус высота хедера
}

.connect {
  margin: 0 auto 40px;
  width: fit-content;

  & > button {
    min-width: 335px;
  }
}

.list {
  padding: 0 0 26px 0;
  border-bottom: 1px solid #223F42;
  list-style-type: none;
}

.list__title {
  margin: 0 18px 0 0;
  @include font-style-ibmPlexSans(18px, 600, 22px, $color-F5-white);
}

.item:not(:last-child) {
  margin-bottom: 14px;
}

.item__link {
  @include font-style-ibmPlexSans(16px, 400, 21px, $color-E1-white);
}

.footer {
  margin: auto 0 0 0;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 30px;
  padding: 0;
  width: fit-content;

  list-style: none;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 32px;
  }
}

.footer {
  padding: 0 20px;
}

.utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 300px;
}

.email {
  text-decoration: none;
  @include font-style-ibmPlexSans(18px, 400, 22px, $primary-color);
}