@import '../../../../../../scss/vars';

@keyframes opacityAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.roadmap {
  margin: 100px 0 50px; // TEMP
  padding: 0 30px 0 20px;
}

.title {
  width: fit-content;
  margin: 0 auto 40px;
  @include font-style-pressStart(19px, 400, 30px, $color-F5-white);
}

.list {
  margin: 0;
  padding: 0 0 0 25px;

  list-style-type: none;
}

.item__title {
  margin: 0 0 18px 17px;
  @include font-style-ibmPlexSans(18px, 600, 18px, $color-F5-white);
}

.item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.item__circle {
  position: absolute;
  bottom: -22px;
  left: -25px;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: linear-gradient(154.3deg, #24FA93 16.25%, #62E5F7 59.03%, #24DFFA 83.04%);
  box-shadow: 0px 0px 60px rgba(81, 235, 219, 0.5);
}

.item__circle_active {
  background: #FCFF00;
  box-shadow: 0px 0px 14px rgba(252, 255, 0, 0.5);
  animation: opacityAnim 1s infinite linear;
}

.item__circle_disabled {
  background: #ABC3C8;
}

.item__list {
  position: relative;

  padding: 18px 0 43px 17px;

  list-style-type: none;

  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90.01deg, #54E4F8 16.29%, rgba(84, 228, 244, 0) 99.98%);

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    height: 100%;
    width: 1px;

    background: #9AEFFF;
    box-shadow: 0px 0px 14px #62C8D7;
    border-radius: 15px;
  }
}

.item__list_active {
  border-image-source: linear-gradient(90.01deg, #FCFF00 16.29%, rgba(252, 255, 0, 0) 99.98%);

  &::before {
    background: #FCFF00;
  }
}

.item__list_disabled {
  border-image-source: linear-gradient(90.01deg, #ABC3C8 16.29%, rgba(171, 195, 200, 0) 99.98%);

  &::before {
    background: #ABC3C8;
  }
}

.item__text {
  position: relative;

  @include font-style-ibmPlexSans(14px, 400, 18px, $color-E1-white);

  &::before {
    content: '';

    position: absolute;
    top: 3px;
    left: -24px;

    width: 15px;
    height: 15px;
    border: 3px solid #9AEFFF;
    border-radius: 50%;
    
    background: #000000;
    box-shadow: 0 0 10px #9AEFFF, 0 0 10px #9AEFFF;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.item__text_active {
  &::before {
    border: none;
        
    background: #FCFF00;
    box-shadow: 0px 0px 14px rgba(252, 255, 0, 0.5);
    animation: opacityAnim 1s infinite linear;
  }
}

.item__text_disabled {
  &::before {
    border: none;
    background: #ABC3C8;
    box-shadow: none;
  }
}

@media all and (min-width: 700px) {
  .item__title {
    @include font-style-ibmPlexSans(20px, 600, 23px, $color-F5-white);
  }

  .item__text {
    @include font-style-ibmPlexSans(18px, 400, 23px, $color-F5-white);
  }
}