.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:nth-child(1) {
    div {
      margin-right: 14px;
    }
  }

  &:nth-child(2) {
    width: inherit;
    margin: 0 14px;
  }

  &:nth-child(3) {
    div {
      margin-left: 14px;
    }
  }
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 36px;
  border-radius: 50%;
  background: #eff0f0;

  span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #99a0ad;
  }
}

.number_active {
  background: #4a70f8;

  span {
    color: #f0f5fd;
    opacity: 0.8;
  }
}

.line {
  height: 3px;
  background: #e5e5e5;
  flex: 1;
  border-radius: 10px;
}

.line_active {
  background: #4a70f8;
}

.container {
  display: flex;
  flex-direction: column;
}

.caption {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #3a3b3d;
  margin-bottom: 6px;
}

.subcaption {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #99a0ad;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  label {
    margin-bottom: 20px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  max-width: 100px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #ff6a6a;
  }
}
