@import '../../../../../../../../../../scss/typography.scss';
@import '../../../../../../../../../../scss/_vars.scss';

.icon {
  margin-right: 14px;
}

.container {
  @include font-style-ibmPlexSans(14px, 500, 22px, $color-E1-white);
  display: flex;
}

.address {
  margin: 0;
  color: #a4a4a4;
}
