@import '../../../../../vars&mixins.scss';
@import '../../../../../../../scss/cabinet';
@import '../../../../../../../scss/_vars';
@import '../../../../../../../scss/typography';

.balanceModal > div {
  height: 100vh;
}

.balanceBlock {
  padding: 20px;
  margin: auto;
}

.buyCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.buy {
  margin: 10px auto;
  max-width: 500px;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: $main-font;
  @include main($color-3A-black);
  font-weight: bold;
  font-size: 28px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.line {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 40px;
    height: 40px;
  }
}

.usd {
  font-family: $main-font;
  @include mediumP3($color-4F-black);
  font-weight: $fontWeightSemiBold;
  margin-top: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.desc {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  @include subtitle-14px($color-99-gray);

  &:last-child {
    margin-top: 20px;
  }
}

.nextCont {
  display: flex;
  justify-content: center;
  width: 100%;
}

.next {
  max-width: 500px;
  width: 100%;
  padding: 14px 0;
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  font-family: $main-font;
  @include semiBoldH4($primary-color);
  text-align: center;
  background: none;
  transition: color 0.3s ease, border 0.3s ease;

  &:hover {
    color: $color-31-blue !important;
    border: 1px solid $color-31-blue !important;
    transition: color 0.3s ease, border 0.3s ease !important;
  }
}

.icon {
  &:hover {
    cursor: pointer;
  }
}

.buyBtn {
  margin: 20px 0;
  width: 100%;
}

.buyLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $white;
}
