@import '../../../scss/cabinet';

.purse {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  &__content {
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;
    margin: 0;
  }
}

