@import '../../../../../../../vars&mixins.scss';
@import '../../../../../../../../../scss/cabinet';
@import '../../../../../../../../../scss/_vars';
@import '../../../../../../../../../scss/typography';

.inputs {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  &::before {
    content: '';

    position: absolute;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);

    min-width: 23px;
    height: 1px;
    background-color: $color-B4-violet;
  }
  
  .input {
    width: 100%;
    background: $white;
    border: 1.4px solid $color-B4-violet;
    border-radius: $border-radius;
    padding: 16px 10px;
    margin-top: 10px;
    height: 45px;
    font-family: $font-inter;
    font-style: normal;
    font-weight: $fontWeightMedium;
    font-size: 16px;
  
    &::placeholder {
      font-family: $font-inter;
      @include semiBoldH4($color-B4-violet);
      font-weight: $fontWeightMedium;
    }
  }   

  .when {
    display: flex;
    flex-direction: column;
    width: 40%;

    &Subtitle {
      display: block;
      margin-left: 5px;
      @include subtitle-14px($color-4F-black);
    }
  }
}

.sumBtns {
  display: flex;
  justify-content: space-between;

  @mixin sumBtn() {
    border: none;
    outline: none;
    background-color: transparent;

    @include subtitle-13px($color-4F-black);
  }

  .reset {
    @include sumBtn();
  }

  .apply {
    @include sumBtn();
    color: $color-4A-blue;
  }
}
