@import '../../../vars&mixins.scss';
@import '../../../../../scss/cabinet';
@import '../../../../../scss/_vars';
@import '../../../../../scss/typography';

.menu_sinc {
  top: 234px !important;
}

.menu {
  position: absolute;
  top: 220px;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  overflow-y: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }

  & * {
    padding: 0;
    margin: 0;
  }

  &__buttonPlus {
    width: 50px;
    @include button-style();
  }

  &__item {
    flex: none;
    height: 132px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow2;
  }

  &__balance {
    position: relative;
    width: 147px;
    padding: 20px;
  }
}
