@import '../../../../scss/typography.scss';
@import '../../../../scss/_vars.scss';

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.howWork {
  color: white;
  margin-bottom: 188px;
  position: relative;
}

.container {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.title {
  font-family: $font-pressStart;
  font-size: 41px;
  line-height: 135%;
  text-align: center;
}

.item_1 {
  z-index: 4;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  padding: 0 40px;
}

.item_left {
  max-width: 100%;
}

.folder_1 {
  width: 535px;
  height: 350px;
}

.h3 {
  @include font-style-ibmPlexSans(30px, 600, 22px, #f5f5ef);
}

.num {
  @include font-style-ibmPlexSans(60px, 600, 84px, #f5f5ef);
  margin-bottom: 26px;
  position: relative;
}

.p {
  @include font-style-ibmPlexSans(16px, 600, 24px, #e1e1d8);
}

.walletAdress {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  span {
    margin-right: 10px;
  }
}

.copyBtn {
  z-index: 5;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url('../../../../assets/images/copy.svg');
  outline: none;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}

.buyBtn {
  width: 100%;
  padding: 14px 72px;
  border: 2px solid #fcff00;
  border-radius: 30px;
  @include font-style-ibmPlexSans(18px, 600, 22px, #191919);
  text-transform: uppercase;
  background-color: #fcff00;
  transition: color 0.3s ease, filter 0.3s ease;
  outline: none;
  filter: drop-shadow(0px 0px 15px rgba(252, 255, 0, 0.5));
}

.buyBtn:hover {
  filter: drop-shadow(0px 0px 15px #fcff00);
  transition: color 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.item_2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.folder_2 {
  width: 475px;
  height: 325px;
}

.item_right {
  position: relative;
  max-width: 100%;
  padding-right: 40px
}

.commission {
  @include font-style-ibmPlexSans(16px, 600, 22px, #fcff00);
  position: relative;
  top: 55px;
}

.line {
  width: 282px;
  height: 107px;
  position: absolute;
  background-image: url('../../../../assets/images/line_02.png');
  left: -55px;
  top: -10px;
}

.statistics {
  display: flex;
  @include font-style-ibmPlexSans(16px, 600, 22px, #e1e1d8);
}

.statistics_link {
  color: #fcff00;
  cursor: pointer;
  margin-left: 4px;
  display: flex;
  align-items: center;
}

.item_3 {
  display: flex;
  justify-content: space-between;
}

.item_3_left {
  max-width: 401px;
  padding-left: 40px;
}

.pay_img {
  max-width: 516px;
  margin:  0 auto;
}

.num_commission {
  display: flex;
  justify-content: space-between;
}

.num_2 {
  margin-right: 200px;
}

@media all and (max-width: 768px) {
  .howWork {
    margin-bottom: 100px;
  }

  .title {
    font-size: 19px;
    line-height: 30px;
  }

  .item_1 {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .folder_1 {
    width: 90vw;
    height: 90vw;
    margin: 0 auto;
  }

  .item_left {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .h3 {
    font-size: 24px;
    line-height: 22px;
  }

  .num {
    font-size: 40px;
    line-height: 140%;
  }

  .noise {
    display: none;
  }

  .item_2 {
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 100px;
  }
  .item_right {
    order: 1;
    margin: 0 auto;
    padding: 0;
  }

  .line {
    width: 148px;
    height: 79px;
    left: -15px;
    background-image: url('../../../../assets/images/line_mob.svg');
  }
  .commission {
    text-align: right;
    @include font-style-ibmPlexSans(14px, 600, 20px, #fcff00);
    max-width: 127px;
    right: 0;
    top: 0;
    margin: 0;
  }

  .p_2 {
    font-size: 16px;
    line-height: 150%;
    width: 100%;
  }

  .item_3 {
    flex-direction: column;
    padding: 0 20px;
    margin: 0 auto;
  }

  .item_3_left {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .pay {
    p {
      margin: 0;
    }
  }
  .folder_2 {
    order: 2;
    width: 90vw;
    height: 90vw;
    margin: 0 auto;
  }

  .num_2 {
    margin: 0;
  }
}
