.sorting_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 0 16px;
  min-width: 715px;
}

.sorting_cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.text {
  color: #626c77;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  padding-right: 4px;
}

.sorting_first_column {
  margin-left: 40px;
  justify-content: flex-start;
  max-width: 412px;
  @media(max-width: 1150px) {
    min-width: 348px;
  }
}

.first_cell {
  min-width: 158px;
}

.count_sorting {
  justify-content: center;
  //padding-left: 6%;
}

.date_sorting {
  justify-content: flex-end;
  min-width: 78px;
}

.price_cell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.price_sorting {
  justify-content: center;
  min-width: 140px;
}

@media (max-width: 1150px) {
  .price_sorting {
    min-width: 118px;
  }
}
