@import '../../../../../scss/typography.scss';
@import '../../../../../scss/vars.scss';

.name {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.block {
  display: flex;
  flex-direction: column;
}

.caption {
  font-family: $main-font;
  @include main($dark-grey);
  font-weight: $fontWeightSemiBold;
  @include p2;
}

.subcaption {
  font-family: $main-font;
  @include mediumP3($other-grey);
  margin-top: 6px;
}

.label {
  margin-top: 20px;
}
