@import '../../../vars&mixins.scss';

@mixin modal() {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.modal {
  @include modal();

  &Active {
    @include modal();
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
  }

  &Content {
    position: relative;

    padding: 30px 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    background-color: #fff;
  }
}

.title {
  margin: 0 0 15px 0;
  padding: 0;
  @include section-title();
}

.subtitle {
  margin: 0 0 20px 0;
  padding: 0;
  @include subtitle-14px($color-99-gray);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

  width: 24px;
  height: 24px;
  border: none;

  cursor: pointer;
  background-image: url(../../../../../assets/icons/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
}

@media only screen and (min-width: 1250px) {
  .modalContent {
    width: 60vw;
  }
}
