@import '../../../vars&mixins.scss';

.balance {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  // margin: 40px 0 0 0;
  padding: 30px 0 47px 0;
  width: 100%;

  background: radial-gradient(32.57% 95.93% at 0% 100%, #ffffff 0%, #edf1ff 100%);

  & * {
    margin: 0;
    padding: 0;
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
  }

  &__title {
    margin-bottom: 4px;

    @include section-title();
    color: $color-3A-black;

    transition: opacity .3s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.5;

      & + button {
        transition: opacity .3s ease;
        opacity: 0.5;
      }
    }
  }

  &__button {
    margin-left: 14px;
    border: none;

    background-color: transparent;
    outline: none;
    box-shadow: none;
    transition: opacity .3s ease;

    &:hover {
      transition: opacity .3s ease;
      opacity: 0.5;
      cursor: pointer;
    }
  }

  &__sumMain {
    margin-bottom: 14px;

    font-size: 28px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;

    color: $color-3A-black;
  }

  &__data {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;

    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $color-4F-black;
  }

  &__time {
    margin-right: 14px;
  }

  &__sum {
    margin-right: 8px;
  }

  &__percent {
    color: $color-4D-green;
  }

  &__percent::before {
    content: '';

    display: inline-block;
    margin-right: 1px;
    width: 14px;
    height: 14px;

    background-image: url(../../images/chevron-up.svg);
  }
  .addressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
    height: 40px;

    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .addressName {
    margin-bottom: 10px;
  }
  .addressValue {
    width: 100%;

    white-space: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.2px;
    color: $color-4F-black;
  }

  .progressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 700px;

    img {
      margin-top: 10px;
    }

    .progress {
      position: relative;
      display: flex;
      justify-content: flex-end;
      background: #dbe0ee;
      border-radius: 6px;
      padding: 5px 10px;
      // margin-top: 15px;
      width: 100%;
    }

    $barProportion: calc(0 / 80000 * 100%);

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      background: #4a70f8;
      border-radius: 6px 0 0 6px;
      width: $barProportion;
      height: 100%;
    }

    .count {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #868da7;
      z-index: 3;
    }

    .etherscan {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      color: #4A70F8;
      text-decoration: none;
    }

    .etherscanIcon {
      transform: translateY(6px);
      margin-top: 0 !important;
      margin-right: 6px;
    }
  }

}

.reg {
  z-index: 1100;

  // Положение крестика
  & > div {
    & > button {
      top: 20px;
    }
  }

  &Modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
    width: 100vw;
    height: 100vh;

    &Subtitle {
      margin: 0 0 6px 0;

      font-size: 13px;
      font-weight: 500;
      line-height: 18px;
      color: #99A0AD;
    }

    &Up {
      .regModal {
        &Header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          padding-bottom: 28px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        &Title {
          margin: 0 0 20px 0;

          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          color: #393C42;
        }


        &Purse {
          margin: 0;

          font-size: 14px;
          font-weight: 500;
          line-height: 19px;
          color: #4F535A;
          word-wrap: break-word;

          &Copy {
            margin-left: 10px;
            transform: translateY(5px);
          }
        }
      }
    }

    &Down {
      .regModal {
        &Button {
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }
  }
}

.trust {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 40px);
  margin: 0 auto 15px;
  // margin: 0 20px 15px;

  text-align: center;
}

.trust_logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 188px;
  width: 100%;
}

.trust_sinc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 14px 65px;
  width: 100%;
  border: 1px solid #4A70F8;
  border-radius: 14px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1;

  color: #4A70F8;
  background-color: #ffffff;
  transition: background-color .3s ease, color .3s ease;

  &:hover {
    color: #2D4EC5;
    border-color: #2D4EC5;
    transition: background-color .3s ease, color .3s ease;
  }
}

.trust_sinc_success {
  border: 1px solid #4DBE28;
}

.trust_logos_cont__success {
  padding: 2px 3px;
  border-radius: 50%;
  border: 2px solid #4DBE28;

  & > svg:nth-child(1) {
    transform: translateY(2px);
  }
}

.trust_cross_success {
  & > svg > path {
    stroke: #4DBE28;
  }
}

.trust_subtitle {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #99A0AD;
}

.trust_walletpurse {
  margin-right: 10px;
}
