.location {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.block {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #99a0ad;
}

.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #3a3b3d;
  margin-top: 8px;
  max-width: 270px;
}

.label {
  margin-top: 16px;
}

.caption {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #3a3b3d;
  margin-bottom: 6px;
}

.subcaption {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #99a0ad;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.edit {
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input {
  width: 100px;
}
