@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.button {
  padding: 14px 72px;
  border: 2px solid $color-FC-yellow;
  border-radius: 30px;

  @include font-style-ibmPlexSans(18px, 600, 22px, $primary-color);
  text-transform: uppercase;
  
  background-color: transparent;
  transition: color .3s ease, border .3s ease;
  outline: none;
  
  &:hover {
    transition: color .3s ease;
    color: $white;
    cursor: pointer;
  }

  &:disabled {
    opacity: .5;
    cursor: default;
  }
}