@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.button {
  margin: 0;
  padding: 14px 0;
  border: $big-button-border;
  border-radius: $border-radius;
  font-family: $main-font;
  @include semiBoldH4(#ffffff);
  text-align: center;
  background: $primary-color;
  transition: background .2s ease;

  &:hover {
    background: $primary-color-hover;
    transition: background .2s ease;
    cursor: pointer;
  }

  &:disabled {
    opacity: .5;
    cursor: default;
  }
}