@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.block {
  display: flex;
  align-items: center;
  border: none;
}

.input {
  display: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  z-index: -10;

  &:checked + .checkbox {
    background-image: url('../../assets/icons/input-checkbox-check.svg');
  }
}

.checkbox {
  width: 26px;
  height: 26px;
  background-image: url('../../assets/icons/input-checkbox.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $white;
  margin: 0 12px 0 0;
  padding: 0;
}

.icon {
  margin-right: 8px;
  max-width: 28px;
  max-height: 28px;
}
