.block {
  display: flex;
  align-items: center;
}

.input {
  display: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  z-index: -10;

  &:checked + .checkbox {
    background-image: url('../../assets/icons/input-checkbox-check.svg');
  }
}

.checkbox {
  width: 26px;
  height: 26px;
  background-image: url('../../assets/icons/input-checkbox.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  margin-right: 12px;
}

.icon {
  margin-right: 8px;
  max-width: 28px;
  max-height: 28px;
}
