@import '../../../../scss/typography.scss';
@import '../../../../scss/vars.scss';

.disks__wrapper {
  padding: 60px;
}

.chartSection {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #192a2c;
}

@media (max-width: 971px) {
  .disks__wrapper {
    padding: 0 20px 20px;
  }
}
