@import '../../../vars&mixins.scss';
@import '../../../../../scss/cabinet';
@import '../../../../../scss/_vars';
@import '../../../../../scss/typography';

.menu {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: $main-font;
  @include semiBoldH4($color-3A-black);
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 14px 0;
}

.virtualCardGroup {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0;
  margin: 30px 0 0;
  justify-content: space-between;

  &__text {
    @include second-subtitle-13px($color-4F-black);
    line-height: 1.4;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 135px;
  }

  &_invisible {
    display: none;
  }
}

.button {
  display: grid;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $color-F9-white;
  border: none;
  justify-content: center;
  align-content: center;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: $outline;
  }
}