.input {
  background: #ffffff;
  border: 1.4px solid #b4bfd5;
  border-radius: 14px;
  padding: 16px 10px;
  margin-top: 10px;
  height: 45px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #393c42;
  text-align: center;

  &::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #b4bfd5;
  }

  &:focus {
    outline: none;
    border: 1.4px solid #67686C;
  }
}

.input_error {
  border: 1.4px solid #ff6a6a;
}

.error {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ff6a6a;
  margin-top: 8px;
}
