@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.input {
  background: $white;
  border: 1.4px solid $color-B4-violet;
  border-radius: $border-radius;
  padding: 16px 10px;
  margin: 10px 0 0;
  height: 45px;
  font-family: $font-inter;
  @include main($color-39-black);
  @include p2;
  text-align: center;

  &::placeholder {
    font-family: $font-inter;
    @include mediumP3($color-B4-violet);
  }

  &:focus {
    outline: $outline;
    border: 1.4px solid $color-67-black;
  }
}

.input_error {
  border: 1.4px solid $color-FF-red;
}

.error {
  font-family: $font-inter;
  @include mediumP3($color-FF-red);
  margin: 8px 0 0;
  padding: 0;
}
