@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.input {
  background: $white;
  border: 1.4px solid $light-grey;
  border-radius: $border-radius;
  padding: 16px 10px;
  margin: 10px 0 0;
  height: 45px;
  font-family: $main-font;
  @include mediumP3($black);
  text-align: center;

  &::placeholder {
    font-family: $main-font;
    @include mediumP3($light-grey);
  }

  &:focus {
    outline: none;
    border: 1.4px solid $grey;
  }
}

.input_error {
  border: 1.4px solid $red;
}

.error {
  font-family: $main-font;
  @include mediumP3($red);
  margin: 8px 0 0;
  padding: 0;
}
