@import '../../../../../scss/typography.scss';
@import '../../../../../scss/vars.scss';

.email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.caption {
  font-family: $main-font;
  @include semiBoldH4($dark-grey);
  margin-bottom: 6px;
}

.subcaption {
  font-family: $main-font;
  @include mediumP3($other-grey);
  margin-bottom: 20px;
}

.info {
  font-family: $main-font;
  @include main($middle-grey);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  max-width: 230px;
}

.edit {
  margin-left: 5px;
}

.label {
  width: 100%;
}

.input {
  width: 100%;
  text-align: center;
}

.timer {
  font-family: $main-font;
  @include main($middle-grey);
  font-weight: normal;
  @include p3;
  margin-top: 8px;
}
