.form {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0;
  padding: 0;

  &__title {
    display: flex;
    margin: 0;
    padding: 0;
    color: #393c42;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
  }

  &__paragraph {
    display: flex;
    margin: 0;
    padding: 8px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    color: #67686C;

    &_promo {
      display: none;
      padding: 12px 0 0;
      margin: 0;
      box-sizing: border-box;
      font-weight: 500;
      color: #35AC48;

      &_visible {
        display: flex;
      }
    }
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 18px 0 0;
    padding: 0;
  }

  &__input {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #393c42;

    &_code {
      font-weight: 600;
      color: #4f535a;
      text-align: center;
    }

    &_error {
      border: 1.4px solid #FF6A6A;
    }
  }

  &__labelContainer {
    display: flex;
    flex-direction: row;
  }

  &__label {
    flex-direction: row;
  }

  &__notification {
    display: flex;
    margin: 0;
    padding: 8px 0 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #4f535a;

    &_invisible {
      display: none;
    }

    &_error {
      color: #FF6A6A;
    }
  }

  &__changeButton {
    display: flex;
    margin: 0;
    padding: 8px 0 0 5px;
    border: none;
    background-color: transparent;
    color: #4A70F8;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &_invisible {
      display: none;
    }

    &_noTopPadding {
      display: flex;
      margin: 0;
      padding: 0 0 0 5px;
      border: none;
      background-color: transparent;
      color: #4A70F8;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.6;
    }
  }

  &__switchIcon {
    display: flex;
    position: relative;
    top: 10px;
    left: calc(100% - 20px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background-image: url('../../../../assets/icons/icon-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__subtitle {
    display: flex;
    margin: 40px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #393c42;
  }

  &__cardsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0 30px;
    padding: 0;
    box-sizing: border-box;
  }
}