.parthers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

@media all and (max-width: 768px) {
  .parthers {
    padding: 0 20px;
  }

  .swiper {
    &Slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}