@import '../../../../../../scss/typography.scss';
@import '../../../../../../scss/vars.scss';

.parthers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.swiper {
  img {
    display: block;
  }

  &:focus {
    outline: $outline;
  }
}
