@import '../../../../../../scss/typography.scss';
@import '../../../../../../scss/vars.scss';

.parthers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.swiper {
  img {
    display: block;
  }
}
