@import '../../../vars&mixins.scss';

.header {
  position: relative;
  padding: 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;

  &Title {
    margin: 0;
    @include subtitle-14px($color-39-black);
  }

  &Button {
    position: absolute;
    top: 50%;
    left: 30px;
    
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    transform: translateY(-50%);
    
    &Arrow {
      transform: rotate(180deg);
    }
  }
}

.cross {
  position: absolute;
  top: 50%;
  right: 30px;
  
  padding: 0;
  height: fit-content;
  transform: translateY(-10px);

  border: none;
  background-color: transparent;
  outline: none;
}