.footer {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  padding: 9px 23px;
  padding-bottom: 30px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  
  background-color: #fff;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  img {
    width: 30px;
    height: 30px;
  }

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #99a0ad;
    margin-top: 3px;
  }
}

.link_active {
  span {
    color: #4a70f8;
  }

  svg {
    path {
      stroke: #4a70f8;
    }

    circle {
      stroke: #4a70f8;
    }
  }
}
