@import '../../../scss/typography.scss';
@import '../../../scss/vars.scss';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 101;
  height: 91px;
  display: flex;
  align-items: center;
  padding: 19px 23px 30px 23px;
  width: 100%;
  border-top: 1px solid $color-B4-violet;
  background-color: $white;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.link {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  height: 45px;
  @include main($color-99-gray);
  font-weight: $fontWeightSemiBold;
  @include p5;
  text-align: center;
  margin-top: 3px;

  img {
    width: 30px;
    height: 30px;
  }
}

.link_active {
  color: $primary-color;

  svg {
    path {
      stroke: $primary-color;
    }

    circle {
      stroke: $primary-color;
    }
  }
}

.broadcasts {
  color: $primary-color;

  svg {
    path {
      fill: $primary-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: none;
  }
}