@import '../../../vars&mixins.scss';
@import '../../../../../scss/cabinet';
@import '../../../../../scss/_vars';
@import '../../../../../scss/typography';

.table {
  width: 100%;
  .tableRow {
    height: 80px;
    &:not(:last-child) {
       border-bottom: 1px solid $color-E5-white;
    }
    .tableHeader {
      @include section-title($color-99-gray);
      color: $color-99-gray;
      text-align: left;
      &:not(:first-child) {
        text-align: right;
      }
    }
    .tableHeader_asset {
      width: 50%;
    }
    .tableHeader_balance {
      width: 25%;
    }
    .tableHeader_price {
      width: 25%;
    }
    .tableData {
      @include subtitle-13px($color-4F-black);
      font-size: 14px;
      text-align: end;
      padding: 0 10px;
      .dataContainer {
        display: flex;
        align-items: center;
        
      }
      &Logo {
        width: 25px;
        height: 25px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &Name {
        @include subtitle-13px($color-3A-black);
        font-size: 14px;
        margin: 0 15px;
      }
      &Code {
        @include subtitle-13px($color-99-gray);
        font-size: 14px;
        margin: 0 15px;
      }
    }
  }
}

.tableBtn {
  @include section-title($color-4A-blue);
  margin: 20px auto;
  padding: 14px 75px;
  border: 1px solid $color-4A-blue;
  border-radius: $border-radius;
  outline: $outline;
  background-color: transparent;
  &:hover {
    color: $color-31-blue;
    border: 1px solid $color-31-blue;
  }
  &:active {
    color: $color-2D-blue;
    border: 1px solid $color-2D-blue;
  }
}