@import '../../../scss/cabinet';
@import '../vars&mixins.scss';

.purse {
  z-index: 102;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  background-color: transparent;
}

.purseContainer {
  display: grid;
  box-sizing: border-box;
  margin: 30px 20px 0;
  grid-template-columns: 300px;
  column-gap: 40px;
  grid-template-areas:
    'accounts broadcasts'
    'accounts balance'
    'accounts roadMap'
    'accounts mining'
    'accounts wallet'
    'accounts transactions';
}

.accounts {
  grid-area: accounts;
  box-sizing: border-box;
  padding: 40px 30px 0;
  height: 657px;
  width: 308px;
  background-color: $white;
  box-shadow: 0 4px 25px rgba(112, 112, 112, 0.1);
  border-radius: $border-radius;
}

.chatIcon {
  display: grid;
  box-sizing: border-box;
  margin: 0;
  padding: 13px 20px;
  position: fixed;
  bottom: 14px;
  right: 44px;
  border: none;
  background-color: $white;
  width: 70px;
  height: 50px;
  box-shadow: 0 4px 25px rgba(112, 112, 112, 1);
  border-radius: $border-radius;
  justify-content: center;
  align-content: center;

  &:hover {
    cursor: pointer;
    opacity: .5;
  }

  &:active, &:focus {
    outline: $outline;
  }
}

.chatContainer {
  position: fixed;
  width: 375px;
  height: 610px;
  bottom: 20px;
  right: 120px;
  box-shadow: 0 4px 25px rgba(112, 112, 112, 0.1);
  border-radius: $border-radius;
  background-color: $white;
  z-index: 10;
}