@import '../../../scss/cabinet';

.purse {
  z-index: 102;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;

  &__content {
    border: 2px solid yellow;
    position: relative;
    margin: 0;
    padding: 106px 20px 30px;
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 20px 18% 0 30%;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;

  &__link {
    list-style: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: #67686C;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0 50px 0 0;

    &:last-child {
      padding: 0;
    }

    &_active {
      color:  #4A70F8;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.profileGroup {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.profileIcon {
  display: flex;
  box-sizing: border-box;
  margin: 0 8px 0 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

.profileName {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #3A3B3D;
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.purseContainer {
  border: 1px solid deeppink;
  display: grid;
  box-sizing: border-box;
  margin: 25px 26% 0 6%;
  padding: 0;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  column-gap: 80px;
  grid-template-areas:
  'accounts balance'
  'accounts mining'
  '. transactions'
}

.accounts {
  grid-area: accounts;
  box-sizing: border-box;
  margin: 0;
  padding: 40px 30px 0;
  height: 657px;
  width: 308px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(112, 112, 112, 0.1);
  border-radius: 14px;
}

.balance {
  grid-area: balance;
}

.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(43, 40, 41, 0.5);

  &_invisible {
    display: none;
  }
}


.mining {
  grid-area: mining;
}

.transactions {
  grid-area: transactions;
}

.balanceModal {
  height: 100vh;
}

.balanceBlock {
  padding: 20px;
  height: 100vh;
  // width: 100vw;
  margin: auto;
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #4f535a;

  & > .price {
    color: #4a70f8;
    font-weight: 700;
  }
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont2 {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.button {
  margin-top: 10px;
}

.buyCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.buy {
  margin: 0 auto 10px;
  max-width: 500px;
  width: 100%;
  margin-top: 10px;
}

.buySubtitle {
  width: fit-content;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
  color: #3a3b3d;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 140%;
  color: #3a3b3d;
}

.items {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 105px;
  padding: 12px 28px;
  background: #f7f7f7;
  border-radius: 14px;
  transition: background 0.3s ease;
  cursor: pointer;

  span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #99a0ad;
    transition: color 0.3s ease;
  }

  &:hover {
    transition: background 0.3s ease;
    background: #8ca4f2;

    & > span {
      color: #f7f7f7;
      transition: color 0.3s ease;
    }
  }
}

.item_active {
  background: #4a70f8;
  transition: background 0.3s ease;

  span {
    color: #ffffff;
  }

  &:hover {
    background: #8ca4f2;
    transition: background 0.3s ease;
  }
}

.line {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 40px;
    height: 40px;
  }
}

.usd {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #4f535a;
  margin-top: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.trans {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #393c42;
  margin-bottom: 16px;
}

.desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #99a0ad;
}

.nextCont {
  display: flex;
  justify-content: center;
  width: 100%;
}

.next {
  max-width: 500px;
  width: 100%;
  padding: 14px 0;
  border: 1px solid #4a70f8;
  border-radius: 14px;

  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  font-style: normal;
  text-align: center;

  background: none;
  color: #4a70f8;

  transition: color .3s ease, border .3s ease;

  &:hover {
    color: #3159E9 !important;
    border: 1px solid #3159E9 !important;
    background-color: none;
    transition: color .3s ease, border .3s ease !important;
  }
}

.errorModal {
  // margin: 0 auto;
  margin-top: 30px;
  padding: 17px 20px;
  max-width: 500px;
  width: calc(100vw - 20px);
  height: 100%;
  border-radius: 14px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #fff;

  // transform: translateY(calc(-45vh + 12px));
  background-color: #99A0AD;

  .errorSubtitle {
    margin: 5px auto 0;
    width: fit-content;
    border-bottom: 2px solid #fff;

    font-weight: 700;
    color: #fff;

    cursor: pointer;
  }
}

.icon {
  &:hover {
    cursor: pointer;
  }
}