@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.popup {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(43, 40, 41, 0.5);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow: 0 4px 25px rgba(112, 112, 112, 0.1);
  border-radius: 14px 14px 0 0;
  padding: 30px 20px;
  width: 100%;
}

.close {
  position: absolute;
  right: 14px;
  top: 14px;
}

@media screen and (min-width: 768px) {
  .popup {
    background: transparent;
  }
}