@import '../../../../scss/typography.scss';
@import '../../../../scss/vars.scss';

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  // &:focus {
  //   outline: $outline;
  // }
}

.questions {
  display: flex;
  padding: 80px 20px;
}

.questions_desktop {
  justify-content: center;
}

.questions_mobile {
  display: none;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
}

.caption {
  font-family: $main-font;
  @include main($color-3A-black);
  font-weight: $fontWeightSemiBold;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
}

.container {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.question {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 443px;
}

.item {
  display: flex;
  align-items: center;
  padding: 24px 0;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid $color-E5-grey;
  }

  span {
    font-family: $main-font;
    @include main($color-4F-black);
    font-weight: $fontWeightMedium;
    font-size: 16px;
    line-height: 1.6;

    svg {
      margin-left: 6px;
    }
  }
}

.item_active {
  span {
    margin-left: 10px;
    font-weight: 600;

    svg {
      path {
        stroke: $primary-color;
      }
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  background: $color-F9-white;
  border-radius: $border-radius;
  width: 100%;
  max-width: 539px;
  padding: 40px 63px;
}

.title {
  font-family: $main-font;
  @include main($color-3A-black);
  font-weight: $fontWeightSemiBold;
  font-size: 24px;
  line-height: 1.6;
  margin: 0 0 18px;
}

.text {
  font-family: $main-font;
  @include main($color-67-black);
  font-weight: $fontWeightMedium;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

.description {
  font-family: $main-font;
  @include main($color-4F-black);
  font-weight: $fontWeightSemiBold;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 14px;
  margin-bottom: 4px;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  padding: 0;

  li {
    color: $primary-color;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .questions_desktop {
    display: none;
  }

  .questions_mobile {
    display: flex;
  }
}
