@import '../../../../../vars&mixins.scss';

.calcTable {
  width: 100%;
  border-radius: 20px;
  border-collapse: collapse;
  
  font-size: 14px;
  text-align: left;

  & tr:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .list {
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    @mixin item() {
      padding: 5px 10px;
      border: none;
      border-radius: 14px;

      @include subtitle-13px($color-39-black);
      text-align: center;
      white-space: nowrap;

      background-color: #EFF0F0;
      outline: none;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    .item {
      @include item();

      &__active {
        @include item();
        background-color: $color-67-black;
        color: #fff;
      }
    }
  }
}
