.row {
  cursor: pointer;
}

.row:hover .cell {
  background-color: #294548;
  & > .icon_wrapper > svg circle {
    fill: #1fdfff;
  }
}

@mixin iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating_wrapper {
  @include iconWrapper();
}

.icon_wrapper {
  @include iconWrapper();
}

.rating_icon {
  height: 24px;
  width: 24px;
}

.collapse_row:hover .collapse_cell {
  color: #e1e1d8;
}

.collapse_row:hover .collapse_cell:nth-child(2) {
  color: #fcff00;
}

.primary_color {
  background-color: #1e3436;
}

.secondary_color {
  background-color: #294548;
}
