@import '../../scss/typography.scss';
@import '../../scss/vars';

.container {
  display: flex;
  padding: 20px 50px;
  color: $color-E1-white;
  flex-direction: column;
  align-items: center;
  max-width: 175px;
  border-radius: 30px;
  font-family: 'IbmPlexSans', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  background-color: #151f20;
  .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }
}
