@import '../../../../../../../scss/typography.scss';
@import '../../../../../../../scss/vars.scss';

.block {
  display: flex;
  flex-direction: column;
}

.cap {
  font-family: $font-inter;
  @include semiBoldH4($color-3A-black);
  margin-bottom: 6px;
}

.subcap {
  font-family: $font-inter;
  font-style: normal;
  @include subtitle-14px($color-99-gray);
  font-weight: $fontWeightMedium;
  margin-bottom: 20px;
}
