.block {
  display: flex;
  flex-direction: column;
}

.cap {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #3a3b3d;
  margin-bottom: 6px;
}

.subcap {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #99a0ad;
  margin-bottom: 20px;
}
