@import '../../../../scss/typography.scss';
@import '../../../../scss/_vars.scss';

.container {
  cursor: pointer;
  background-color: $color-2A-green;
  border-radius: 20px;
  padding: 32px;
  position: relative;
  border: 2px solid transparent;
  text-align: left;
  &:hover {
    border: 2px solid $color-94-grey;
  }
  &_active {
    border: 2px solid $color-FA-white;
    box-shadow: 0px 0px 30px rgba(101, 187, 203, 0.4);
  };
  .calculator{
    &__title {
      @include font-style-ibmPlexSans(16px, 500, 22px, $color-56-green);
      margin: 0;
      &_active {
        color: $color-84-green;
      };
    }
    &__desc {
      @include font-style-ibmPlexSans(24px, 500, 22px, $color-AA-green);
      margin: 15px 50px 0 0;
      &_active {
        color: $color-E1-white;
      };
      .tooltip {
        position: relative;
        border: none;
        outline: none;
        background-color: transparent;
        margin: 0 0 0 8px;
      }
      .popOverTitle {
        @include font-style-ibmPlexSans(16px, 600, 22px, $color-E1-white);
        margin: 0 0 10px 0;
      }
      .popOverText {
        @include font-style-ibmPlexSans(16px, normal, 22px, $color-E1-white);
        margin: 0;
      }
    }
    &__circle {
      position: absolute;
      right: 20px;
      bottom: 20px;
      display: block;
      border-radius: 50%;
      width: 34px;
      height: 34px;
      border: 3px solid $color-B8-yellow;
      &_active {
        background: $primary-color;
        border: 8px solid $color-7C-yellow;
      };
    }
  }
}