@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.block {
  display: flex;
  align-items: center;
  border: none;
}

.input {
  position: absolute;
  appearance: none;

  &:checked + .radio {
    background-image: url('../../assets/icons/input-radio-check.svg');
  }

  &:focus {
    outline: $outline;
  }
}

.radio {
  width: 24px;
  height: 24px;
  background-image: url('../../assets/icons/input-radio.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 10px 0 0;
  padding: 0;
}
