.THead {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 0.5fr 199px repeat(5, 1fr);
  align-items: center;
  padding: 0 40px;
  color: rgba(79, 132, 138, 1);

  > div[class='today'] {
    cursor: pointer;

    p {
      margin: 0;
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }

    > div {
      display: flex;
      align-items: center;
    }
  }

  > div[class='balance'] {
    cursor: pointer;
    transition: color 0.5s cubic-bezier(0, 1.39, 0.58, 1);

    &:hover {
      color: rgba(38, 223, 248, 1);
    }
  }
}

.THead_ImgMargin {
  margin: 0 0 0 4px;
  cursor: pointer;
}
