@import '../../../vars&mixins.scss';
@import '../../../../../scss/cabinet';
@import '../../../../../scss/_vars';
@import '../../../../../scss/typography';

.details {
  width: 40%;
  position: relative;
  margin: 0 10px 0 0;
  padding: 26px;
  background-color: $color-F9-white;
  box-shadow: $box-shadow2;
  border-radius: $border-radius;
  transition: 0.5s ease-in-out;

  & * {
    padding: 0;
    margin: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__title {
    padding-bottom: 16px;
    @include section-title($color-3A-black);
  }

  &__balance {
    list-style-type: none;
    padding-bottom: 22px;
  }

  &__button {
    position: absolute;
    top: 16px;
    right: 20px;
    @include button-style();

    &:active {
      opacity: 0.7;
    }
  }

  &Modal {
    padding: 0 20px;
    width: 100vw;

    // DetalizationDown
    & > ul {
      padding: 0;

      & > li {
        padding: 18px 0;
      }
    }

    // DetalizationUp
    & > header {
      margin-top: 20px;
      margin-bottom: 20px;
      border: none;

      & > ul {
        padding: 20px;
        box-shadow: 0 4px 25px 0 $color-70-grey;
        border-radius: $border-radius;
      }
    }
  }

  &List {
    list-style-type: none;
    padding: 0 20px;
  }
}

.balanceString {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & + & {
    margin-top: 10px;
  }

  &__text {
    flex: 1 1 0;
  @include second-subtitle-13px($color-99-gray);
  }

  &__data {
    flex: none;
    @include subtitle-14px($color-4F-black);
    text-align: right;
  }
}

.detailsList {
  list-style-type: none;
  padding: 0 20px;
}

.detailsItem {
  padding: 14px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &:first-of-type {
    padding-top: 22px;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.detailsImage {
  margin-right: 13px;
  display: block;
  width: 26px;
  height: 26px;
}

.columnText {
  display: block;
  flex: 1 1 0;

  &__title {
    @include subtitle-14px($color-3A-black);
    margin-bottom: 2px;
    text-align: left;  
  }

  &__text {
    @include subtitle-13px($color-99-gray);
    text-align: left;
  }
}

.columnData {
  display: block;
  flex: none;

  &__title {
    @include subtitle-14px($color-4F-black);
    text-align: right;
  }

  &__text {
    @include subtitle-13px($color-99-gray);
    text-align: right;
  }
}

.transactions {
  &__subtitle {
    margin-top: 15px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: $fontWeightMedium;
    line-height: 21px;
    color: $color-99-gray;
  }

  &__profileButton {
    @include button-style();
    width: 100%;
    height: 50px;
    background-color: $white;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    @include semiBoldH4($primary-color);
    text-align: center;

    &:active {
      opacity: .7;
    }
  }
}

@media screen and (max-width: 920px) {
  .details {
    width: 100%;
    margin-bottom: 15px;
  }
}

