.closeButton {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  width: 26px;
  height: 26px;
  object-fit: cover;
  background-image: url('../../../../assets/icons/closeBlack.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    cursor: pointer;
  }
}