@import '../../scss/cabinet';
@import '../../scss/_vars';
@import '../../scss/typography';

.input_container {
  display: flex;
  flex-direction: row;
  max-width: 294px;
  width: 100%;
  background-color: $white;
  height: 32px;
  border-radius: 6px;
  align-items: center;
}

.input_icon-container {
  padding: 8px 16px;
}

.search_input {
  background-color: $white;
  width: 80%;
  border: none;
  outline: $outline;
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
}

.search_icon {
  width: 16px;
  height: 16px;
  margin-left: 16px;
  margin-top: 6px;
}

.cancelIconContainer {
  display: flex;
  align-items: center;
}

.cancel__icon {
  width: 12px;
  height: 12px;
  margin-right: 16px;
  cursor: pointer
}
