@import '../../../../../vars&mixins.scss';
@import '../../../../../../../scss/cabinet';
@import '../../../../../../../scss/_vars';
@import '../../../../../../../scss/typography';

.details__header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.details__balance {
  margin: 0;
  list-style-type: none;
  padding: 0 0 22px 0;
}

.balanceString {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 7px;
  }
}

.balanceString__text {
  margin: 0;
  flex: 1 1 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: $color-99-gray;
}

.balanceString__data {
  margin: 0;
  flex: none;
  @include mediumP3($color-4F-black);
  font-weight: $fontWeightSemiBold;
  text-align: right;
}
