.auth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.block {
  display: flex;
  flex-direction: column;
}

.block_edit {
  align-items: flex-start;
}

.caption {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #3a3b3d;
  margin-bottom: 10px;
}

.subcaption {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #99a0ad;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 25px;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #99a0ad;
  margin-bottom: 4px;
}

.subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #393c42;
}

.text {
  margin: 0;
  margin-top: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #99a0ad;
}

.cap {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #3a3b3d;
  margin-bottom: 6px;
}

.subcap {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #99a0ad;
  margin-bottom: 20px;
}

.designation {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #393c42;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  background: transparent;
  color: #4a70f8;
}
