@import '../../../../../scss/typography.scss';
@import '../../../../../scss/vars.scss';

.auth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.block {
  display: flex;
  flex-direction: column;
}

.block_edit {
  align-items: flex-start;
}

.caption {
  font-family: $main-font;
  @include semiBoldH4($dark-grey);
  text-align: center;
  margin-bottom: 10px;
}

.subcaption {
  font-family: $main-font;
  @include main($other-grey);
  font-weight: $fontWeightMedium;
  @include p6;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 25px;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: $main-font;
  @include mediumP3($other-grey);
  margin-bottom: 4px;
}

.subtitle {
  font-family: $main-font;
  @include main($black);
  font-weight: $fontWeightSemiBold;
  @include p3;
}

.text {
  margin: 4px 0 0;
  font-family: $main-font;
  @include main($other-grey);
  font-weight: $fontWeightMedium;
  @include p6;
}

.designation {
  font-family: $main-font;
  @include semiBoldH4($black);
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  background: transparent;
  color: $primary-color;

  &:hover {
    color: $white;
  }
}
