@import '../../../../../../../scss/typography.scss';
@import '../../../../../../../scss/_vars.scss';

.content {
  display: flex;
  flex-direction: column;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 10px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;

  &:nth-child(2) {
    width: inherit;
  }
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 36px;
  border-radius: 50%;
  background: $color-EF-white;

  span {
    font-family: $main-font;
    @include main($color-99-gray);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
}

.number_active {
  background: $primary-color;

  span {
    color: $color-FO-white;
    opacity: 0.8;
  }
}

.line {
  height: 3px;
  background: $color-E5-grey;
  flex: 1;
  border-radius: 10px;
}

.line_active {
  background: $primary-color;
}

.block {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: $main-font;
  @include main($color-39-black);
  font-weight: $fontWeightSemiBold;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 20px;
}

.notification {
  font-family: $main-font;
  @include main($color-4F-black);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  max-width: 225px;
}

.wrap {
  position: relative;

  display: flex;
  padding-left: 5px;
  height: 20px;

  .error {
    position: absolute;
    left: 5px;
    bottom: -30px;
    @include subtitle-14px($color-FF-red);
    font-weight: $fontWeightMedium;
  }
}

.time {
  font-family: $main-font;
  @include main($color-4F-black);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}
