@import '../../../vars&mixins.scss';
@import '../../../../../scss/cabinet';
@import '../../../../../scss/_vars';
@import '../../../../../scss/typography';

.transactions {
  position: relative;
  width: 100%;
  padding: 24px 20px;
  margin: 40px 0 0;
  background-color: $white;
  box-shadow: $box-shadow2;
  border-radius: $border-radius;  

  & * {
    padding: 0;
    margin: 0;
  }

  &__title {
    @include section-title();
  }

  &__subtitle {
    margin-top: 15px;
    padding-bottom: 20px;
    @include subtitle-14px($color-gray-mouse);
    font-weight: $fontWeightMedium;
  }

  &__cont {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__profileButton {
    @include button-style();
    max-width: 500px;
    width: 100%;
    height: 50px;
    background-color: $white;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    @include semiBoldH4($primary-color);
    text-align: center;
    transition: color .3s ease, border .3s ease;
    
    &:hover {
      color: $color-31-blue;
      border: 1px solid $color-31-blue;
      transition: color .3s ease, border .3s ease;
    }
    
    &:active {
      opacity: .7;
    }

    &:focus {
      outline: $outline;
    }
  }

  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    @include button-style();

    &:active {
      opacity: .7;
    }

    &:focus {
      outline: $outline;
    }
  }
}