@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.toggle {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;

  input {
    appearance: none;
    position: absolute;

    &:checked + .slider {
      background: $third-white;

      &::before {
        transform: translateX(19px);
        background: $primary-color;
      }
    }

    &:disabled + .slider {
      opacity: .5;
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $third-white;
  border-radius: 50px;

  &::before {
    position: absolute;
    content: '';
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background: $white;
    box-shadow: 0 1px 4px rgba(51, 51, 51, 0.2);
    border-radius: 50%;
  }
}
