@import '../../../../scss/typography.scss';
@import '../../../../scss/_vars.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
}
