@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.button {
  background: none;
  border: none;
  border-radius: $border-radius;
  font-family: $main-font;
  @include semiBoldH4($white);
  text-align: center;
  color: $primary-color;
  padding: 14px 0;
  margin: 0;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: .5;
    cursor: default;
  }

  &:active, &:focus {
    outline: $outline;
  };
}
