@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.button {
  padding: 8px 18px;
  border: 2px solid $color-FC-yellow;
  border-radius: 30px;

  @include font-style-ibmPlexSans(16px, 500, 22px, $primary-color);
  
  background-color: transparent;
  transition: color .3s ease, border .3s ease;
  outline: none;
  
  &_link {
    display: flex;
    align-items: center;
    @include semiBoldH4($color-FC-yellow);
    text-decoration: none;
    transition: color .3s ease;
    outline: none;
  }

  &:hover {
    transition: color .3s ease;
  }
}
