@import '../../../../../../../scss/typography.scss';
@import '../../../../../../../scss/_vars.scss';

.content {
  display: flex;
  flex-direction: column;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 10px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;

  &:nth-child(2) {
    width: inherit;
  }
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 36px;
  border-radius: 50%;
  background: $color-EF-white;

  span {
    font-family: $main-font;
    @include main($color-99-gray);
    font-weight: $fontWeightMedium;
    font-size: 16px;
    line-height: 1.5;
  }
}

.number_active {
  background: $primary-color;

  span {
    color: $color-FO-white;
    opacity: .8;
  }
}

.line {
  height: 3px;
  background: $color-E5-grey;
  flex: 1;
  border-radius: 10px;
}

.line_active {
  background: $primary-color;
}

.block {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: $main-font;
  @include main($color-39-black);
  font-weight: $fontWeightSemiBold;
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.label {
  position: relative;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: $color-4F-black;
  cursor: pointer;

  & > div {
    margin-top: 8px;
    height: 45px;

    // Инпут
    & > input {
      width: 100% !important;
      height: 45px;
      border: 1.4px solid #b4bfd4 !important;
      border-radius: 14px !important;
    }

    // Убираю ненужный див
    & > div:first-child {
      display: none;
    }
  }

  & + div > div:first-child {
    display: none !important;
  }
}

.error {
  position: absolute;
  left: 5px;
  bottom: -45px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: $color-FF-red;
}
