.content {
  display: flex;
  flex-direction: column;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 10px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;

  &:nth-child(2) {
    width: inherit;
  }
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 36px;
  border-radius: 50%;
  background: #eff0f0;

  span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #99a0ad;
  }
}

.number_active {
  background: #4a70f8;

  span {
    color: #f0f5fd;
    opacity: 0.8;
  }
}

.line {
  height: 3px;
  background: #e5e5e5;
  flex: 1;
  border-radius: 10px;
}

.line_active {
  background: #4a70f8;
}

.block {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #393c42;
  margin: 0;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.label {
  position: relative;

  margin-left: 5px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  
  color:#4F535A;
  cursor: pointer;

  & > div {
    margin-top: 8px;
    height: 45px;

    // Инпут
    & > input {
      width: 100% !important;
      height: 45px;
      border: 1.4px solid #B4BFD4 !important;
      border-radius: 14px !important;
    }

    // Убираю ненужный див
    & > div:first-child {
      display: none;
    }
  }

  & + div > div:first-child {
    display: none !important;
  }
}

.error {
  position: absolute;
  left: 5px;
  bottom: -37px;

  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #FF6A6A;
}
