@import '../../../scss/vars';

@mixin modal() {
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.modal {
  @include modal();
  &Content {
    position: relative;

    padding: 30px 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    background-color: #192a2c;
    bottom: -200px;
    transition: all 0.5s ease;
    max-height: 100vh;
    overflow-y: auto;
  }

  &Special {
    padding: 0;
  }

  &Active {
    @include modal();
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
    visibility: visible;
  }

  &Active &Content {
    bottom: 0;
  }
}

.title {
  margin: 0 0 12px 0;
  padding: 0;
  width: 100%;

  @include font-style-ibmPlexSans(18px, 600, 22px, #fcff00);
  text-align: center;
}

.subtitle {
  margin: 0 0 20px 0;
  padding: 0;
  @include font-style-ibmPlexSans(14px, 400, 21px, #99a0ad);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;

  width: 24px;
  height: 24px;
  border: none;

  cursor: pointer;
  background-image: url(../../../assets/icons/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
}

@media only screen and (min-width: 1250px) {
  .modalContent {
    width: 60vw;
  }
}
