@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: $white;
  box-sizing: border-box;
  margin: 15px auto;
  padding: 0;
}

.logout:hover {
  cursor: pointer;
  opacity: 0.7;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
}

.list {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #67686c;
  text-decoration: none;
  cursor: pointer;
  transition: color .3s ease;
  
  &:hover {
    color: #4a70f8;
    transition: color .3s ease;
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lang {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 24px;

  img {
    display: block;
  }
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
  cursor: pointer;
  position: relative;
  min-width: 65px;
  transition: all .3s ease;
  &:hover, &:focus {   
    .langTitle, path {
      color: $primary-color;
      stroke: $primary-color;
     }    
  }
  &.active {
    .langTitle, path {
      color: $primary-color;
      stroke: $primary-color;
      }  
  }

  span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #67686c;
    text-transform: uppercase;
    transition: color .3s ease;
  }
  
  .svg {
    transition: stroke .3s ease;
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 9px 0;
  border: 2px solid #4a70f8;
  border-radius: 14px;
  width: 131px;
  background: none;
  transition: background .3s ease;

  & > svg {
    & > path,
    & > ellipse {
      transition: stroke .3s ease;
    }
  }

  &:hover {
    background: #4a70f8;
    transition: background .3s ease;
    
    & > span {
      color: #fff;
      transition: color .3s ease;
    }
    
    & > svg {
      & > path,
      & > ellipse {
        stroke: #fff;
        transition: stroke .3s ease;
      }
    }
  }
  
  .langTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #4a70f8;
    transition: color .3s ease;
  }
}

.modalAuth {
  & > div {
    width: 454px;
    height: 454px;
  }

  &Inner {
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 14px;
    
    background-color: #fff;
  }
}

.displayNone {
  display: none;
}

.img {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  
}
.lang__img {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
.arrow {
  height: 15px;
  transform: rotate(90deg);
}
.arrowActive {
  transform: rotate(-90deg);
}

input[type=radio] {
      display: none;
  }
  

.header__langoptions {
  transition: opacity .3s ease;
  display: flex;
  opacity: 0;
  top: 30px;
  left: -15px;
  position: absolute;
  width: 99px;
  height: 96px;
  background: #f9f9f7;
  box-shadow: 0px 4px 25px rgba(112, 112, 112, 0.1);
  border-radius: 14px;
  list-style: none;
  flex-direction: column;
  padding: 18px 16px;
  &.active {
  opacity: 1;
  }
}


.langoption_ru {
  margin-bottom: 19px;
}

.langoption {
  display: flex;
  align-items: center;

}
.lang_box {
  display: flex;
}
.langoption__checked {
  margin-right: 10px;
}

.langoption__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #4F535A;
  cursor: pointer;
  &:hover, &:focus {
    color: $primary-color;
    transition: all .3s ease;
  }
}
.langoption__text_checked {
font-weight: 600;
color: #3A3B3D;
}