@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.header {
  display: flex;
  justify-content: center;
  padding: 39px 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

.logout:hover {
  cursor: pointer;
  opacity: .7;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.item {
  &:not(:last-child) {
    margin-right: 64px;
  }
}

.item__link {
  text-decoration: none;
  @include font-style-inter(16px, 500, 24px, $color-E1-white);
  transition: filter .3s ease;

  &:hover {
    filter: drop-shadow(0px 0px 15px rgb(25, 226, 255));
    transition: filter .3s ease;
  }
}

.link {
  @include font-style-inter(16px, 400, 21px, $color-E1-white);
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  &:hover {
    color: $primary-color;
    transition: color 0.3s ease;
    cursor: pointer;
  }
}

.container {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 9px 0;
  border: 2px solid $primary-color;
  border-radius: $border-radius;
  width: 131px;
  background: none;
  transition: background 0.3s ease;

  & > svg {
    & > path,
    & > ellipse {
      transition: stroke 0.3s ease;
    }
  }

  &:hover {
    background: $primary-color;
    transition: background 0.3s ease;

    & > span {
      color: $white;
      transition: color 0.3s ease;
    }

    & > svg {
      & > path,
      & > ellipse {
        stroke: $white;
        transition: stroke 0.3s ease;
      }
    }
  }

  .langTitle {
    font-family: $font-inter;
    @include semiBoldH4($primary-color);
    transition: color 0.3s ease;
  }
}

.profileBtn {
  padding: 8px 18px;
  margin: 0 0 0 44px;
  border: 2px solid $color-FC-yellow;
  border-radius: 30px;

  @include font-style-ibmPlexSans(16px, 500, 22px, $primary-color);
  
  background-color: transparent;
  transition: color .3s ease, border .3s ease;
  outline: none;
  
  &_link {
    display: flex;
    align-items: center;
    @include semiBoldH4($color-FC-yellow);
    text-decoration: none;
    transition: color .3s ease;
    outline: none;
  }

  &:hover {
    transition: color .3s ease;

    & > .profileBtn_link {
      color: $white;
      transition: color .3s ease;
    }
  }
}

.loginBtn {
  display: flex;
  align-items: center;
  padding: 8px 18px;
  margin: 0 0 0 20px;
  border: 2px solid $color-FC-yellow;
  border-radius: 30px;

  @include font-style-ibmPlexSans(16px, 500, 22px, $primary-color);
  text-decoration: none;
  
  outline: none;
  background-color: $white;
  transition: color .3s ease;

  &:hover {
    color: $white;
    transition: color .3s ease;
  }
}

.modalAuth {
  & > div {
    width: 454px;
    height: 454px;
  }

  &Inner {
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: $border-radius;
    background-color: $white;
  }
}

.displayNone {
  display: none;
}

input[type='radio'] {
  display: none;
}

.logoLink {
  margin-right: 10px;
}

.profileLogo {
  margin-right: 8px;
  transform: translateY(2px);
  transition: opacity 0.3s ease;

  &:hover {
    path {
      opacity: .7;
      transition: opacity 0.3s ease;
    }
  }
}

@media (max-width: 900px) {
  .link {
    font-size: 12.5px;
    margin: 0 12px 0 0;
  }

  .lang {
    margin-right: 0;
    transform: translateX(5px);
  }
}
