@import '../../../../scss/typography.scss';
@import '../../../../scss/vars.scss';

.why {
  position: relative;
  margin-bottom: 250px;
  color: white;
}

.border {
  position: relative;
  width: calc(100vw - 60px);
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;

  &::after {
    position: absolute;
    top: 850px;
    right: 0;
    width: 1px;
    height: 10px;
    content: '';
    background-color: rgba(25, 226, 255, 0.39);
    filter: drop-shadow(0 0 5px #19e2ff) drop-shadow(0 0 5px #19e2ff) drop-shadow(0 0 5px #19e2ff) drop-shadow(0 0 5px #19e2ff) drop-shadow(0 0 5px #19e2ff);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}

.title {
  font-family: $font-pressStart;
  font-size: 41px;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  color: #f5f5ef;
  text-align: center;
}

.description {
  position: relative;
  max-width: 393px;
  margin: 56px 0 0 0;
  margin-left: auto;
  font-family: $font-ibmPlexSans;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: #e1e1d8;
}

.noise {
  position: absolute;
  right: 0;
  width: 900px;
  height: 632px;
}

@media all and (max-width: 990px) {
  .description {
    &::after {
      top: 20px;
      right: 30px;
    }
  }
}

@media all and (max-width: 768px) {
  .why {
    margin-bottom: 100px;
  }

  .container {
    padding: 0 20px;
  }

  .title {
    font-size: 19px;
    line-height: 160%;
  }

  .description {
    order: 3;
    width: 100%;
    max-width: 100%;
    max-width: 500px;
    margin: 0;
    margin: 0 20px 0 20px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }

  .border {
    &__center {
      position: relative;
      width: 1px;
      margin: 0 auto;

      &::after {
        position: absolute;
        top: -650px;
        left: -1px;
        width: 1px;
        height: 10px;
        content: '';
        background-color: rgba(25, 226, 255, 0.39);
        filter: drop-shadow(0 0 5px #19e2ff) drop-shadow(0 0 5px #19e2ff) drop-shadow(0 0 5px #19e2ff) drop-shadow(0 0 5px #19e2ff) drop-shadow(0 0 5px #19e2ff);
      }
    }

    &::after {
      top: -50px;
      left: 0;
    }
  }
}
