@media (min-width: 769px) {
  .container {
    display: flex;
    height: 100%;
    position: relative;
    z-index: 5;
  }
}

.roadMap {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;
  min-height: 110%;
  height: auto;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 90%, #f9fafe 100%);
  z-index: 5;
}

.roadMap::-webkit-scrollbar {
  width: 0;
}

.scrollButtonLeft {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 49%;
  right: -50px;
  z-index: 5;
  box-shadow: 20px 20px 52px rgba(0, 0, 0, 0.05);
  transition: border .3s ease;

  &:hover {
    cursor: pointer;
    border: 2px solid #4A70F8;
    transition: border .3s ease;
  }
}

.scrollButtonRight {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 49%;
  left: -50px;
  z-index: 5;
  box-shadow: 20px 20px 52px rgba(0, 0, 0, 0.05);
  transition: border .3s ease;

  &:hover {
    cursor: pointer;
    border: 2px solid #4A70F8;
    transition: border .3s ease;
  }
}

.scrollIcon {
  display: flex;
  box-sizing: border-box;
  width: 7px;
  height: 14px;
  margin: 24px auto;
  padding: 0;
  transform: translateY(-2px);
}

.arrowHidden {
  display: none;
}

.blueLine {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 6px;
  width: 100%;
  background-color: #4A70F8;
  position: absolute;
  z-index: -2;
  top: 52%;
}

@media screen and (max-width: 1450px) {
  .roadMap {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .scrollButton, .scrollButtonRight, .scrollButtonLeft, .roadMap {
    display: none;
  }
}