@import '../../../../../../scss/vars';

@keyframes opacityAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.roadmap {
  padding: 0 20px;
}

.container {
  max-width: 1085px;
  width: 100%;
  margin: 0 auto;
}

.title {
  width: fit-content;
  margin: 0 auto 50px;
  @include font-style-pressStart(41px, 400, 55px, $color-E5-white);
}

.list {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: 118px 76px 146px;

  list-style-type: none;
  background-image: url('../../../../../../assets/images/roadmapFolder.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &::after {
    content: '';

    position: absolute;
    bottom: calc(146px + 28px);
    right: 2px;

    width: calc(100% - 20px);
    height: 4px;

    background-color: #ABC3C8;
  }
}

.item {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.item__circle {
  width: 66px;
  height: 66px;
  border-radius: 50%;

  background: linear-gradient(154.3deg, #24FA93 16.25%, #62E5F7 59.03%, #24DFFA 83.04%);
  box-shadow: 0px 0px 60px rgba(81, 235, 219, 0.5);
  transform: translateX(-33px);
}

.item__circle_active {
  background: #FCFF00;
  box-shadow: 0px 0px 14px rgba(252, 255, 0, 0.5);
  animation: opacityAnim 1s infinite linear;
}

.item__circle__disabled {
  background: #ABC3C8;
}

.item__title {
  margin-top: auto;
  @include font-style-ibmPlexSans(18px, 600, 23px, $color-F5-white);
}

.item__title_middle {
  margin: 0 0 20px 0;
}

.item__list {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px 0 0 13px;

  list-style-type: none;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    height: 100%;
    width: 1px;

    background: #9AEFFF;
    box-shadow: 0px 0px 14px #62C8D7;
    border-radius: 15px;
  }
}

.item__list_active {
  padding: 50px 0 0 13px;

  &::before {
    background: #ABC3C8;
  }
}

.item__list_disabled {
  padding: 10px 0 0 13px;

    &::before {
    background: #ABC3C8;
  }
}

.item__text {
  position: relative;
  
  height: 36px; // нельзя так, но это спасает :D
  margin-bottom: 49px;
  max-width: 140px;

  @include font-style-ibmPlexSans(14px, 400, 18px, $color-E1-white);

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: -20px;

    width: 15px;
    height: 15px;
    border: 3px solid #9AEFFF;
    border-radius: 50%;
    
    background: #000000;
    box-shadow: 0 0 10px #9AEFFF, 0 0 10px #9AEFFF;
  }
}

.item__text_active {
  &::before {
    border: none;
        
    background: #FCFF00;
    box-shadow: 0px 0px 14px rgba(252, 255, 0, 0.5);
    animation: opacityAnim 1s infinite linear;
  }
}

.item__text_disabled {
  &::before {
    border: none;
    background: #ABC3C8;
    box-shadow: none;
  }
}

@media all and (max-width: 1000px) {
  .item__text {
    height: auto;
  }
}