@import '../../scss/typography.scss';
@import '../../scss/vars.scss';


.clear_btn {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &__image_container {
    width: 16px;
    height:  16px;
  }

  &__clear_btn_content {
    background-color: $whiteSmokeColor;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}