.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 200px;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media all and (max-width: 1210px) {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}

@media all and (max-width: 768px) {
  .main {
    margin-bottom: 100px;
  }
}
