$barProportion: calc(0 / 80000 * 100%);

.rounds {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #dbdfee;
  padding-bottom: 14px;
  width: 100%;
  max-width: 611px;
  //margin-bottom: 10px;
}

.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #3a3b3d;
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 14px 0 0 0;
  margin: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.designation {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #99a0ad;
}

.value {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #3a3b3d;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  img {
    margin-top: 10px;
  }
}

.progress {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background: #dbe0ee;
  border-radius: 6px;
  padding: 5px 10px;
  margin-top: 30px;
  width: 100%;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  background: #4a70f8;
  border-radius: 6px 0 0 6px;
  width: $barProportion;
  height: 100%;
}

.count {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #868da7;
  z-index: 3;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 23px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #67686c;
    margin-top: 6px;
  }
}

.second {
  background: none;
  border-radius: 14px;
  border: 1px solid #4a70f8;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #4a70f8;
  padding: 14px 0;
  width: 285px;
  cursor: pointer;
}

.button {
  width: 285px;
}

.road {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.cover {
  display: flex;
  gap: 8px;
}

.round {
  display: flex;
  flex-direction: column;
  width: 100%;

  //span {
  //  font-family: Montserrat;
  //  font-style: normal;
  //  font-weight: 600;
  //  font-size: 16px;
  //  line-height: 150%;
  //  color: #4f535a;
  //}
}

.subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #4f535a;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #dcdfee;
  border-radius: 6px;
  padding: 4px 10px;
  margin-top: 10px;

  span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #868da7;
  }
}

.shell {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.lines {
  display: flex;
  margin-bottom: 2px;
}

.line {
  display: flex;
  flex: 1;
  height: 30px;
  border-top: 4px solid #4a70f8;
  border-left: 2px solid #4a70f8;
  border-right: 2px solid #4a70f8;

  &:last-child {
    flex: 3;
    border-left: none;
  }
}

.dates {
  display: flex;
}

.date {
  display: flex;
  justify-content: space-between;
  flex: 1;

  &:last-child {
    flex: 3;
  }

  span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #4f535a;
  }
}

.info {
  display: flex;
  gap: 42px;
  border: 1px solid #dcdfee;
  border-radius: 6px;
  padding: 20px 30px;
  margin-top: 30px;
}

.description {
  color: #4c4c4c;
  width: 100%;
  max-width: 450px;
}
.temporarily {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #f24949;
}

.emptyContainers {
  display: none;
}

@media all and (max-width: 768px) {
  .rounds {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .block,
  .container,
  .buttons {
    width: 100%;
  }

  .buttons {
    flex-wrap: wrap;
  }

  .list {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 30px 0;
  }

  .buttons {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .container {
    padding-bottom: 20px;
    border-top: 1px solid #dbdfee;
  }

  .wrap {
    align-items: flex-start;
    border-bottom: none;
    padding-bottom: 20px;
  }

  .name {
    font-size: 28px;
  }

  .item {
    width: 100%;
    justify-content: space-between;
    display: grid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-template-columns: 1fr minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content);
    grid-template-areas: 'designation icon value';
  }

  .designation {
    grid-area: designation;
  }

  .icon {
    grid-area: icon;
  }

  .value {
    grid-area: value;
  }

  // .progress {
  //   max-width: 335px;
  // }

  .info {
    flex-wrap: wrap;
    gap: 10px;
    padding: 14px;
  }

  .description {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .roadContainer {
    display: grid;
    grid-template-columns: 30px 0px 1fr;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-areas: 'empty shell road';
    margin: 20px 0 0;
    padding: 0;
    box-sizing: border-box;
  }

  .road {
    grid-area: road;
    margin-top: 19px;
  }

  .round {
    margin-bottom: 14px;
    margin-top: 10px;

    &:last-child {
      margin-bottom: 30px;
    }

    &:first-child {
      margin-bottom: 40px;
    }
  }

  .cover {
    flex-direction: column;
    gap: 0px;
  }

  .shell {
    grid-area: shell;
    margin-top: 0;
    box-sizing: border-box;
  }

  .lines {
    flex-direction: column;
  }

  .line {
    border: none;

    &:last-child {
      flex: 3;
      border: none;
    }
  }

  .dates {
    flex-direction: column;
    height: 100%;
    padding: 0;
  }

  .date {
    flex-direction: column;
    margin-left: 10px;
    white-space: nowrap;
  }

  .button {
    width: 100%;
  }

  .second {
    width: 100%;
  }

  .emptyContainers {
    grid-area: empty;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .emptyContainer {
    display: flex;
    margin: 0 0 10px 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 4px solid #4a70f8;
    border-bottom: 2px solid #4a70f8;

    &_first {
      display: flex;
      margin: 10px 0 0;
      padding: 0;
      box-sizing: border-box;
      width: 100%;
      height: 150px;
      border-top: 2px solid #4a70f8;
      border-left: 4px solid #4a70f8;
      border-bottom: 2px solid #4a70f8;
    }
  }
}

.modalAuth {
  & > div {
    width: 454px;
    height: 454px;
  }

  &Inner {
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 14px;

    background-color: #fff;
  }
}
