.roadMap {
  display: flex;
  position: relative;
  background-color: #f9fafe;
  padding: 20px 60px;
  min-height: 9%;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.text {
  color: #99a0ad;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  margin: 15px 0 40px;
  max-width: 310px;
}

.link {
  margin-top: 10px;
  text-decoration: none;
  color: #4a70f8;
  display: flex;
  align-items: center;
  transition: color .3s ease;

  & > svg {
    & > circle,
    & > path {
      transition: stroke .3s ease;
    }
  }

  &:hover {
    color: #3257dd;
    transition: color .3s ease;

    & > svg {
      & > circle,
      & > path {
        stroke: #3257dd;
        transition: stroke .3s ease;
      }
    }
  }
}

.icon {
  margin-right: 5px;
}

.list {
  display: none;
  flex-direction: row;
  list-style: none;
  overflow: auto;
  margin: 38px auto 80px;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 720px) {
  .header {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 15px 0 40px;
  }

  .text {
    max-width: none;
    display: flex;
    align-items: flex-end;
    margin: 0;
  }

  .link {
    margin-left: 15px;
    align-items: flex-end;
  }
}

@media (max-width: 1200px) {
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-left: 0;
    overflow: visible;
  }
}
