@import '../../../../scss/typography.scss';
@import '../../../../scss/vars.scss';

.roadMap {
  display: flex;
  background-color: $color-F9-white;
  padding: 20px 60px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  min-height: 480px;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: $main-font;
  font-size: 22px;
  font-weight: $fontWeightSemiBold;
  margin: 0 15px 0 0;
  color: $color-3A-black;
}

.text {
  color: $color-99-gray;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  margin: 15px 0 40px;
  max-width: 310px;
}

.link {
  margin-top: 10px;
  text-decoration: none;
  color: $primary-color;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;

  & > svg {
    & > circle,
    & > path {
      transition: stroke 0.3s ease;
    }
  }

  &:hover {
    color: $color-32-blue;
    transition: color 0.3s ease;

    & > svg {
      & > circle,
      & > path {
        stroke: $color-32-blue;
        transition: stroke 0.3s ease;
      }
    }
  }

  &:focus {
    outline: $outline;
  }
}

.icon {
  margin-right: 5px;
}

.list {
  display: none;
  flex-direction: row;
  list-style: none;
  overflow: auto;
  margin: 38px auto 80px;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: unset;
  }
}

@media (min-width: 720px) {
  .header {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 15px 0 40px;
  }

  .text {
    max-width: none;
    display: flex;
    align-items: flex-end;
    margin: 0;
  }

  .link {
    margin-left: 15px;
    align-items: flex-end;

    &:focus {
      outline: $outline;
    }
  }

  .title {
    font-size: 32px;
    color: $color-3A-black;
  }
  .roadMap {
    display: flex;
    background-color: $color-F9-white;
    padding: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    overflow: visible;
  }
}
