@import '../../../../../scss/vars';

.ASide__rating {
  padding: 30px 24px;
  margin: 0 0 20px 0;
  font-size: 14px;
  color: rgba(79, 132, 138, 1);
  background: rgba(25, 42, 44, 1);
  border-radius: 20px;
  font-family: $font-ibmPlexSans;

  @media all and (max-width: 768px) {
    padding: 25px 20px;
  }
}

.ASide__ratingFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
  }

  > div:first-of-type {
    > img {
      width: 15px;
      height: 15px;
      margin: 0 0 0 8px;
    }
  }

  > div:last-of-type {
    font-size: 16px;
    color: white;

    > img {
      width: 19px;
      height: 19px;
      margin: 0 10px 0 0;
    }

    > span {
      font-size: 16px;
    }
  }
}

.percentage__container {
  position: relative;
}

.icon {
  cursor: pointer;
}

.popup {
  position: absolute;
  top: calc(100% + 10px);
  right: -200px;
  z-index: -1;
  min-width: 273px;
  padding: 20px;
  background-color: #151f20;
  border-radius: 20px;
  box-shadow: 0 0 7px 0 #65bbcb;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup__active {
  z-index: 1;
  opacity: 1;
  transition: opacity .3s ease;
}

.popup_subtitle {
  margin: 0;
  @include font-style-ibmPlexSans(14px, 400, 21px, $color-F5-white);
  text-align: center;
}

.bottomPopup__text {
  margin: 0;
  color: white;

  @media all and (max-width: 400px) {
    font-size: 14px;
  }
}
