@import '../../../../../../scss/typography.scss';
@import '../../../../../../scss/_vars.scss';

.owners_container {
  display: flex;
  align-items: center;
  padding: 20px 10px 0 10px;
  margin-bottom: 47px;

  .text_wrapper {
    margin-left: 18px;
  }

  .owners_heading {
    @include font-style-pressStart(16px, normal, 160%, $color-F5-white);
    margin: 0;
    font-style: normal;
  }

  .owners_description {
    margin: 0;
    color: $color-E1-white;
    font-family: $font-ibmPlexSans;
    @include p3();
  }
}

.table {
  font-family: $font-ibmPlexSans;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
  }

  &__wallets_number {
    @include p3();
    margin: 0;
    margin-right: 6px;
    font-weight: $fontWeightSemiBold;
    color: $color-E1-white;
  }

  .dot {
    margin-right: 6px;
    height: 5px;
    width: 5px;
    background-color: $color-58-grey;
    border-radius: 50%;
    display: inline-block;
  }

  .search_button {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 11px 16px;
    border-radius: 20px;
    border: none;
    background-color: $color-45-green;
  }

  .table__container {
    padding-top: 16px;
    border-top: 2px solid $color-22-dark;
  }
}
