@import '../../../vars&mixins.scss';
@import '../../../../../scss/cabinet';
@import '../../../../../scss/_vars';
@import '../../../../../scss/typography';

.statistics {
  .title {
    position: relative;
    margin-right: 5px;
    width: fit-content;
    @include section-title();
  }

  .header {
    display: flex;
  }

  .tooltip {
    border: none;
    background-color: transparent;
    outline: $outline;
    transform: translateY(1px);
  }

  .progressbar { 
    position: relative;
    margin-bottom: 6px;
    height: 10px;
    border-radius: 6px;
    background: $color-E5-white;

    &__track {
      position: relative;
      overflow: hidden;
      display: block;
      width: 0;
      height: 100%;
      background-color: $color-58-green;
    } 
  }

  .details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &__days {
      @include subtitle-14px($color-99-gray);
    }

    &__memory {
      @include subtitle-13px($color-4F-black);
    }

    // Accordeon
    & + div {
      margin: 0;
      box-shadow: none;
      border: none;

      &::before {
        display: none;
      }

      & > div {
        padding: 0;

        & > div > span  > svg > path {
          transition: stroke .3s ease;
        }

        // Ховер кнопки и иконки
        &:hover {
          & > div > button {
            color: $color-7C-violet;
            transition: color .3s ease;
          }

          & > div > span  > svg > path {
            stroke: $color-7C-violet;
            transition: stroke .3s ease;
          }
        }

        & > div {
          margin: 0;
          padding: 0;

          & > div {
            & > div {
              & > div {
                padding: 0;
              }
            }
          }

          & > button {
            margin: 0;
          }
        }
      }
    }
  }

  .more {
    // position: relative;
    
    margin-bottom: 20px;
    padding: 0;
    border: none;
    @include subtitle-14px($color-4A-blue);
    outline: $outline;
    background-color: transparent;
    transition: color .3s ease;
  }
}