@import '../../../../../../../../scss/vars';

.table {
  > div {
    display: grid;
    grid-template-rows: 54px;
    grid-template-columns: 120px repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding: 0 20px;

    p:first-of-type {
      justify-self: left;
    }

    p:nth-child(2) {
      @media all and (max-width: 768px) {
        justify-self: left;
      }
    }

    p:last-of-type {
      justify-self: right;
    }
  }

  p {
    font-family: "IbmPlexSans", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
  }
}

.thead {
  p {
    font-weight: 500;
    color: rgba(79, 132, 138, 1);
  }
}

.titem {
  p {
    display: flex;
    align-items: center;
    color: white;

    > img {
      margin: 0 0 0 7px;
    }
  }
}

.limcYellow {
  width: 22px;
  height: 22px;
}

.loading {
  width: 17px;
  height: 17px;
}
