@import '../../../../../../scss/typography.scss';
@import '../../../../../../scss/vars.scss';

.how {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  margin: 80px 20px 0;
}

.block {
  display: flex;
  flex-direction: column;
  width: 451px;
}

.caption {
  font-family: $main-font;
  @include main($primary-color);
  font-weight: $fontWeightSemiBold;
  font-size: 60px;
  line-height: 1.4;
  margin: 0 0 20px;
}

.text {
  font-family: $main-font;
  @include main($color-4F-black);
  font-weight: $fontWeightMedium;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow: 0 4px 25px rgba(74, 112, 248, 0.08);
  border-radius: $border-radius;
  width: 539px;
  padding: 40px;
}

.title {
  padding: 0;
  margin: 0 0 18px;
  font-family: $main-font;
  @include main($color-4F-black);
  font-weight: $fontWeightSemiBold;
  font-size: 24px;
  line-height: 1.6;

  &__device {
    &__mobile {
      display: none;
    }

    &__desktop {
      display: block;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 20px 0;
}

.item {
  color: $color-4A-blue;

  span {
    font-family: $main-font;
    @include main($color-67-black);
    font-weight: $fontWeightMedium;
    font-size: 14px;
    line-height: 1.7;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 768px) {
  .how {
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 20px;
  }

  .caption {
    font-size: 34px;
  }

  .block {
    width: 100%;
  }

  .container {
    padding: 0;
    background-color: $color-F3-white;
  }

  .title {
    margin: 0;
    font-size: 20px;

    &__device {
      &__mobile {
        display: block;
      }

      &__desktop {
        display: none;
      }
    }
  }

  .item {
    padding: 26px;
    background-color: $white;
    border-radius: $border-radius;
    height: 279px;
    box-sizing: border-box;

    span {
      display: block;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    & > :not(:last-child) {
      margin-right: 6px;
    }
  }

  .text {
    font-size: 16px;
  }
}
