@import '../../scss/typography.scss';
@import '../../scss/vars.scss';

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 530px;
  padding: 40px 0 16px;

  &__logo {
    width: 266px;
    height: 95px;
  }

  &__container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  .top__wrapper {
    display: grid;
    grid-template-areas:
      'logo logo information users'
      'social social information users'
      'email email information users';
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-columns: 2fr 1fr 1fr;
    width: 100%;
    max-width: 1480px;
    padding: 0 20px 0;
    margin: 0 auto;
    column-gap: 20px;
  }

  .bottom__wrapper {
    display: grid;
    grid-template-areas: 'copyAndLang icons icons  hitBTC';
    grid-template-rows: repeat(1, minmax(min-content, max-content));
    grid-template-columns: 25%;
    align-items: center;
    width: 100%;
    max-width: 1480px;
    min-height: 83px;
    padding: 0 20px 0;
    margin: 0 auto;
  }

  .hitBTC__group {
    display: flex;
    grid-area: hitBTC;
    align-items: end;
    justify-self: end;
    margin-bottom: 30px;

    &__text {
      @include font-style-ibmPlexSans(16px, 400, 21px, $color-85-blue);

      margin-bottom: -5px;
    }
  }

  .copyAndLang__group {
    display: flex;
    grid-area: copyAndLang;
    align-items: center;
    justify-self: start;
  }

  .icons__group {
    display: flex;
    grid-area: icons;
    align-items: center;
    justify-self: center;

    &__item {
      margin-left: 30px;
    }

    &__item__marg0 {
      margin: 0;
    }

    &__item:first-child {
      margin-left: 0;
    }
  }

  .icons__group__start {
    display: flex;
    flex-direction: column;
    grid-area: icons;
    align-items: start;
    justify-self: center;
  }

  &__list {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-inter;
    color: $color-B4-violet;
    list-style: none;
  }

  &_listTitle {
    @include font-style-pressStart(16px, 400, 16px, $color-F5-white);

    box-sizing: border-box;
    padding: 0 0 20px 0;
    margin: 0;
  }

  &__listItem {
    padding: 0 0 14px 0;
    margin: 0;

    &:last-child {
      padding: 0;
    }
  }

  &__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  &__information {
    grid-area: information;
    max-width: 317px;
  }

  &__users {
    grid-area: users;
    justify-self: end;
    max-width: 306px;
  }

  &__email {
    box-sizing: border-box;
    grid-area: email;
    padding: 0;
    margin: 0;
    text-align: start;

    & > a {
      @include font-style-ibmPlexSans(18px, 400, 22px, $primary-color);

      text-decoration: none;
    }
  }

  &__copyright {
    box-sizing: border-box;
    display: grid;
    grid-area: copyright;
    align-content: end;
    padding-right: 39px;
    margin: 0;

    @include font-style-ibmPlexSans(16px, 400, 21px, $color-85-blue);
  }

  &__social {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-self: end;
    padding: 0;
    margin: 21px 0 60px;
    list-style: none;
  }

  .social__group {
    grid-area: social;
    padding-top: 50px;
  }

  &__line {
    box-sizing: border-box;
    grid-area: line;
    width: 100%;
    height: 1px;
    padding: 0;
    margin: 47px 0 20px;
    background-color: $color-3A-blue;
    box-shadow: 0 0 20px $color-65-blue;
  }

  &__socialIcon {
    box-sizing: border-box;
    display: flex;
    width: 32px;
    height: 27px;
    padding: 0;
    margin: 0 27px 0 0;
    fill: $color-3A-blue;

    &:hover {
      cursor: pointer;
      fill: $color-BE-blue;
    }
  }

  &__link {
    text-decoration: none;

    @include font-style-ibmPlexSans(16px, 400, 21px, $color-E1-white);

    &:hover {
      color: $primary-color;
      transition: color 0.3s ease;
      cursor: pointer;
    }
  }

  &__round {
    border-radius: 50%;
  }
}

@media (max-width: 1162px) {
  .icons__group {
    flex-direction: column;
  }
}

@media (max-width: 823px) {
  .footer__copyright {
    padding-right: 0;
  }
}
