@import '../../../../../scss/vars';

.newCard {
  position: relative;
  height: 200px;
  padding: 24px;
  overflow: hidden;
  background: rgba(25, 42, 44, 1);
  border: 1px solid #1fdfff;
  border-radius: 20px;
  cursor: pointer;

  @media all and (max-width: 768px) {
    height: 118px;
    margin: 0 0 60px 0;
  }
}

.newCard__title {
  max-width: 243px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.newCard__masterCard {
  position: absolute;
  bottom: 0;
  left: 0;

  @media all and (max-width: 768px) {
    right: 0;
    bottom: 0;
    left: unset;
  }
}

.newCard__soon {
  position: absolute;
  top: 70px;
  right: 100px;

  @media all and (max-width: 768px) {
    top: 54px;
    right: unset;
    left: 105px;
  }
}

.modal__title {
  margin: 0;
  @include font-style-ibmPlexSans(18px, 500, 22px, $color-E1-white);
}

.modal__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__text {
  margin: 0;
  max-width: 310px;
  @include font-style-ibmPlexSans(16px, 500, 24px, $color-E1-white);
  text-align: center;
}
