@import '../../../../../../scss/typography.scss';
@import '../../../../../../scss/_vars.scss';

.container {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 990px;
  width: 100%;
  // height: calc(100vh - 77px);
  min-height: calc(100vh - 77px);
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.title {
  margin: 0;
  padding: 0;

  @include font-style-pressStart(27px, 400, 40px, #F5F5EF);
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  margin: 0 auto 23px;
  opacity: 0;
}
