@import '../../../vars&mixins.scss';
@import '../../../../../scss/cabinet';
@import '../../../../../scss/_vars';
@import '../../../../../scss/typography';

.logo {
  display: flex;
  box-sizing: border-box;
  width: 159px;
  height: 41px;
  position: absolute;
  top: 25px;
  left: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: $outline;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    position: relative;
    top: 0;
    left: 0;
  }
}