@import '../../../../../vars&mixins.scss';
@import '../../../../../../../scss/cabinet';
@import '../../../../../../../scss/_vars';
@import '../../../../../../../scss/typography';

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-20px);

  .item {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 18px 0;
    }

    &:last-child {
      padding-top: 18px;
    }

  }
}

.btn {
  display: flex;
  align-items: center;
  margin: 0;
  border: none;
  @include subtitle-14px($color-4F-black);
  outline: none;
  background-color: transparent;

  .icon {
    margin-right: 15px;
  }
}

.copyModal {
  margin: 0 auto;
  padding: 17px 20px;
  width: calc(100vw - 20px);
  height: 100%;
  border-radius: $border-radius;
  transform: translateY(calc(-45vh + 12px));
  background-color: $color-99-gray;

  & > button {
    color: $white;
  }
}