.date {
  margin: 0 auto;
  width: fit-content;

  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #99A0AD;
}

.member {
  // display: grid;
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 20px;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 5px;
  grid-template-areas:
  'foto raiting'
  'foto message';
}

.foto {
  grid-area: foto;
  padding: 5px;
  margin: 0 10px 0 0;
  border: 1px solid #000;
  border-radius: 50%;
  width: 37px;
  height: 37px;
}

.raiting {
  grid-area: raiting;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 9px;
  margin: 0;
  max-width: 70px;
  background-color: #FFFFFF;
  border-radius: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 1.3;
  color: #393C42;
  align-items: center;
}

.score {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 0 3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 1.3;
  color: #393C42;
}

.raitingIcon {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0 3px 0 0;
}

.message {
  position: relative;

  box-sizing: border-box;
  grid-area: message;
  display: flex;
  width: 75%;
  margin: 0;
  padding: 12px 50px 12px 14px;
  border-radius: 14px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.45;
  color: #4F535A;
  
  background: #F0F5FD;
}

.myMessage {
  position: relative;

  box-sizing: border-box;
  grid-area: message;
  display: flex;
  width: 75%;
  margin: 0 0 0 auto;
  padding: 12px 50px 12px 14px;
  border-radius: 14px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.45;
  color: #fff;
  
  background: #4A70F8;
}

.time {
  position: absolute;
  bottom: 13px;
  right: 13px;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #99A0AD;
}