@import '../../../../../vars&mixins.scss';
@import '../../../../../../../scss/cabinet';
@import '../../../../../../../scss/_vars';
@import '../../../../../../../scss/typography';

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  
  .input {
    width: 40%;
  }

  .between {
    display: block;
    margin: 0 16px;
    min-width: 23px;
    height: 1px;
    background-color: $color-B4-violet;
  }
}

.selects {
  display: flex;
  justify-content: space-between;

  .select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  .title {
    font-family: $font-inter;
    @include main($color-4F-black);
    font-weight: $fontWeightSemiBold;
    font-size: 14px;
    line-height: 17px;
  }
}
