.container {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 60px 0;
	background-color: #f7f9ff;
}

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	width: 100%;
}

.title__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 100%;
	color: #3A3B3D;
}
.title_detection {
	color: #4A70F8;
}
.mark {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	color: #99A0AD;
}

.card__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	margin-bottom: 30px;
	overflow-x: auto;
	width: 100%;
	scrollbar-width: none;
}
.card__container::-webkit-scrollbar {
	display: none; 
  }
.swiper__buttons {
	width: 100%;
}
@media all and (max-width: 1024px) {
	.title  {
		padding-left: 20px;
	}
	.card__container {
		padding-left: 20px;
}
}
@media all and (max-width: 768px) {

	.wrapper,
	.title__container {
		width: 100%;
		flex-wrap: wrap;
		
	}
	.title {
		font-size: 22px;
	}
	.card__container {
		column-gap: 10px;	
	}
}