.content {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #393c42;
  margin: 0;
  margin-bottom: 20px;
}

.notification {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #4f535a;
  max-width: 225px;
}

.wrap {
  position: relative;

  display: flex;
  margin-bottom: 16px;
  padding-left: 5px;
  height: 20px;

  .error {
    position: absolute;
    left: 5px;
    bottom: -16px;

    margin: 0;
    padding: 0;
  
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #FF6A6A;
  }
}

.time {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #4f535a;
}

.buttons {
  display: flex;
  flex-direction: column;
}
