@import '../../../../../vars&mixins.scss';
@import '../../../../../../../scss/cabinet';
@import '../../../../../../../scss/_vars';
@import '../../../../../../../scss/typography';

.details {
  position: relative;
  padding: 24px 0;
  margin: 25px 0 30px;
  background-color: $white;
  box-shadow: $box-shadow2;
  border-radius: $border-radius;
  transition: 0.5s ease-in-out;

  & * {
    padding: 0;
    margin: 0;
  }

  &__header {
    padding: 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  &__title {
    padding-bottom: 16px;
    @include section-title($color-3A-black);
  }

  &__balance {
    list-style-type: none;
    padding-bottom: 22px;
  }

  &__button {
    position: absolute;
    top: 16px;
    right: 20px;
    @include button-style();

    &:active {
      opacity: .7;
    }

    &:focus {
      outline: $outline;
    }
  }
}

.balanceString {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & + & {
    margin-top: 10px;
  }

  &__text {
    flex: 1 1 0;
    @include mediumP3($color-gray-mouse);
    font-weight: $fontWeightSemiBold;
  }

  &__data {
    flex: none;
    @include mediumP3($color-gray-medium);
    font-weight: $fontWeightSemiBold;
    text-align: right;
  }
}

.detailsList {
  list-style-type: none;
  padding: 0 20px;
}

.detailsItem {
  padding: 14px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & + & {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:first-of-type {
    padding-top: 22px;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.detailsImage {
  margin-right: 13px;
  display: block;
  width: 26px;
  height: 26px;
}

.columnText {
  display: block;
  flex: 1 1 0;

  &__title {
    @include subtitle-14px($color-gray-black);
    margin: 0 0 2px 0;
    padding: 0;
    text-align: left;  
  }

  &__text {
    padding: 0;
    margin: 0;
    @include subtitle-13px($color-gray-mouse);
    text-align: left;
  }
}

.columnData {
  display: block;
  flex: none;

  &__title {
    padding: 0;
    margin: 0;
    @include subtitle-14px($color-gray-medium);
    text-align: right;
  }

  &__text {
    padding: 0;
    margin: 0;
    @include subtitle-13px($color-gray-mouse);
    text-align: right;
  }
}

.dots {
  margin-left: 20px;
  outline: $outline;
  background-color: transparent;
  border: none;
}
