.breadcrumbs {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;

  &__item {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: none;
  }

  &__text {
    color: #969FA8;
    font-size: 14px;
  }

  &__text_active {
    color: #1D2023;
  }
}

.breadcrumbs_arrow_container {
  width: 8px;
  margin: 0 10px;
  &__image {
    width: 6px;
  }
}