.modalAuth {
  & > div {
    width: 454px;
    background-color: #fff;
    position: relative;
  }

  &Inner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 14px;
    background-color: #fff;
    width: 80%;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;

    & > svg > path {
      transition: stroke 0.3s ease;
    }

    &:hover {
      & > svg > path {
        stroke: #4a70f8;
        transition: stroke 0.3s ease;
      }
    }
  }
}
