@import '../../../../scss/typography.scss';
@import '../../../../scss/vars.scss';

.media {
  display: flex;
  padding: 80px 20px;
  background: $color-F9-white;
}

.media_desktop {
  justify-content: center;
}

.media_mobile {
  display: none;
  padding: 60px 0 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
}

.caption {
  font-family: $font-inter;
  @include main($color-3A-black);
  font-weight: $fontWeightSemiBold;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.news {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-top: 40px;
}

.image {
  display: flex;
  box-sizing: border-box;
  margin: 16px 0 20px;
  padding: 0;
  background: $color-4C-white;
  border-radius: $border-radius;
  width: 100%;
  overflow: hidden;

  &:focus {
    outline: $outline;
  }

  img {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 518px;
    max-height: 288px;
    object-fit: contain;
    object-position: center;
  }
}

.newsTextWrapper {
  padding: 0 5px;
}

.title {
  display: block;
  font-family: $font-inter;
  @include main($color-3A-black);
  font-weight: $fontWeightSemiBold;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 8px;
}

.description {
  font-family: $font-inter;
  @include main($color-4F-black);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 11px;
  gap: 10px;
}

.link {
  font-family: $font-inter;
  @include main($color-4A-blue);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  text-decoration: none;

  &:focus {
    outline: $outline;
  }
}

.date {
  font-family: $font-inter;
  @include main($color-99-gray);
  font-weight: $fontWeightMedium;
  font-size: 13px;
  line-height: 1.4;
}

.empty {
  width: 282px;
  font-family: $font-inter;
  @include main($color-3A-black);
  font-weight: $fontWeightMedium;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .news {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .media_desktop {
    display: none;
  }

  .media_mobile {
    display: flex;
  }
}
