@import '../../../../../../../scss/typography.scss';
@import '../../../../../../../scss/vars.scss';

.select {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background: transparent;
    border: none;
  }
}

.title {
  font-family: $main-font;
  @include main($middle-grey);
  font-weight: $fontWeightSemiBold;
  @include p3;
  margin: 0 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
}

.item {
  font-family: $main-font;
  @include main($dark-grey);
  font-weight: $fontWeightMedium;
  padding: 10px 20px;
  border-radius: 60px;
  text-align: center;

  &:nth-child(-n + 8) {
    margin-bottom: 25px;
  }

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
    color: $white;
  }
}

.item_active {
  background: $primary-color;
  color: $white;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.head {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid $very-light-grey;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.daytime {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-family: $main-font;
  @include mediumP4($middle-grey);
  width: 40px;
}

.body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-family: $main-font;
  @include mediumP4($middle-grey);
  color: $calendar-black;
  width: 40px;
  height: 40px;
  border-radius: 100%;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
    color: $white;
  }
}

.day_active {
  background: $primary-color;
  color: $white;
}

.day_disable {
  color: $disable;
}

.leftIcon {
  &:hover {
    cursor: pointer;
  }
}

.rightIcon {
  &:hover {
    cursor: pointer;
  }
}
