@import '../../../../../../../scss/typography.scss';
@import '../../../../../../../scss/vars.scss';

.component {
  display: flex;
  flex-direction: column;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:nth-child(1) {
    div {
      margin-right: 14px;
    }
  }

  &:nth-child(2) {
    width: inherit;
    margin: 0 14px;
  }

  &:nth-child(3) {
    div {
      margin-left: 14px;
    }
  }
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 36px;
  border-radius: 50%;
  background: $color-EF-white;

  span {
    @include main($color-99-gray);
    font-weight: $fontWeightMedium;
    font-size: 16px;
    line-height: 1.5;
  }
}

.number_active {
  background: $primary-color;

  span {
    color: $color-FO-white;
    opacity: .8;
  }
}

.line {
  height: 3px;
  background: $color-E5-white;
  flex: 1;
  border-radius: 10px;
}

.line_active {
  background: $primary-color;
}

.container {
  display: flex;
  flex-direction: column;
}

.caption {
  @include semiBoldH4($color-3A-black);
  margin-bottom: 30px;
}

.label {
  span {
    margin-top: 10px;
    margin-bottom: 20px;
    @include main($color-39-black);
    font-weight: $fontWeightSemiBold;
    @include p3;
  }
}

.qrcode {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.link {
  padding: 12px 0;
  border: none;
  background: $color-ED-white;
  border-radius: $border-radius;
  @include semiBoldH4($primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  text-align: center;
}
