@import '~normalize.scss/normalize.scss';
@import 'assets/fonts';
@import './scss/vars';

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}

body {
  height: inherit;
  width: inherit;
  font-family: $main-font;
}

