@import '~normalize.scss/normalize.scss';
@import 'assets/fonts';
@import './scss/vars';

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}

body {
  width: inherit;
  height: inherit;
  font-family: $main-font;
}

.swiper-pagination-bullet-active {
  border-radius: 6px !important;
  width: 20px !important;
}
