// Colors
$primary-color: #4a70f8 !default;
$primary-color-hover: #3257dd;
$primary-color-second-hover: #2D4EC5;
$secondary-color: #edf4ff !default;
$black: #393c42 !default;
$white: #fff;
$middle-white: #ccc;
$third-white: #F0F5FD;
$grey: #67686c !default;
$middle-grey: #4f535a;
$dark-grey: #3a3b3d;
$light-grey: #b4bfd4;
$very-light-grey: #E5E5E5;
$other-grey: #99A0AD;
$red: #ff6a6a;
$violet: #88A0FA;
$dark: #1e1f22;
$footer-grey: #717a8d;
$footer-line-black: #13151b;
$link-grey: #36373A;
$list-title: #647BA8;
$youtube-white: #D3D8DF;

// Typography
$main-font: 'Montserrat', 'Arial', 'Helvetica', sans-serif !default;

// Big Button ui-kit
$border-radius: 14px;
$big-button-border: 1px solid $primary-color;

// Breakpoints
$breakpoints: (
  phone: 375px,
  desktop: 1420px,
);

// Others
$transition: all 0.3s ease-in-out;
