@import '../../scss/_cabinet.scss';
@import '../../scss/_vars.scss';
@import '../../scss/typography.scss';

.table_container {
  overflow: auto;
  max-height: 600px;
  padding: 0 15px 15px;
  max-width: 874px;
  min-height: 350px;
}

.table_row {
  background-color: $white;
  border: 1px solid rgba(188, 195, 208, 0.5);
  border-radius: 8px;
  width: 100%;
  height: 52px;
  margin-bottom: 8px;
  align-items: center;
  display: flex;
  min-width: 715px;
  cursor: pointer;
}

.table_cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  width: 100%;
}

.table_text {
  color: $color-1D-black;
  font-weight: normal;
  @include p3;
  margin-left: 8px;
  text-align: left;
  width: 100%;
  white-space: nowrap;
}

// styles for status tags
.status_container {
  max-width: 200px;
}

.status_content {
  border: 1px solid #000000;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 2px 8px;
}

.status_text {
  line-height: 22px;
  white-space: nowrap;
}
