@import '../../../vars&mixins.scss';
@import '../../../../../scss/cabinet';
@import '../../../../../scss/_vars';
@import '../../../../../scss/typography';

.balance {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent;

  & * {
    margin: 0;
    padding: 0;
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    margin: 40px 0 0;
  }

  &__title {
    transition: opacity .3s ease;
    font-family: $main-font;
    @include main($color-3A-black);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;

    &:hover {
      opacity: .5;
      cursor: pointer;

      & + button {
        transition: opacity .3s ease;
        opacity: .5;
      }
    }
  }

  &__button {
    margin-left: 14px;
    border: none;
    background-color: transparent;
    outline: $outline;
    box-shadow: none;
    transition: opacity .3s ease;
    
    &:hover {
      transition: opacity .3s ease;
      opacity: .5;
      cursor: pointer;
    }
  }

  &__sumMain {
    display: flex;
    box-sizing: border-box;
    margin: 15px 0 20px;
    padding: 0;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.4;
    color: $color-3A-black;
  }

  &__data {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    @include subtitle-14px($color-4F-black);
  }

  &__time {
    margin-right: 14px;
  }

  &__sum {
    margin-right: 8px;
  }

  &__percent {
    color: $color-4D-green;
  }

  &__percent::before {
    content: '';
    display: inline-block;
    margin-right: 1px;
    width: 14px;
    height: 14px;
    background-image: url(../../images/chevron-up.svg);
  }
  .addressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
    height: 40px;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .addressName {
    margin-bottom: 10px;
  }
  .addressValue {
    width: 100%;
    white-space: normal;
    font-size: 18px;
    font-weight: $fontWeightSemiBold;
    line-height: 21px;
    letter-spacing: -0.2px;
    color: $color-4F-black;
  }

  .progressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 700px;
  
    img {
      margin-top: 10px;
    }

    .progress {
      position: relative;
      display: flex;
      justify-content: flex-end;
      background: $color-DB-white;
      border-radius: 6px;
      padding: 5px 10px;
      margin-top: 30px;
      width: 100%;
    }
  
    $barProportion: calc(0 / 80000 * 100%);
    
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      background: $primary-color;
      border-radius: 6px 0 0 6px;
      width: $barProportion;
      height: 100%;
    }
    
    .count {
      font-family: $main-font;
      font-style: normal;
      @include subtitle-14px($color-86-grey);
      z-index: 3;
    }
  }

}

.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(43, 40, 41, 0.5);
  z-index: 1000;

  &_invisible {
    display: none;
  }
}

.cardsList {
  display: flex;
  list-style: none;
  box-sizing: border-box;
  flex-direction: row;
  margin: 20px 0 0;
  padding: 0;
}

.card, .cardLong {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  padding: 10px 26px 22px;
  background: $color-F9-white;
  border-radius: $border-radius;
  width: 100%;

  &:nth-child(3) {
    margin: 0;
  }

  &_invisible {
    display: none;
  }

  &__subtitle {
    font-family: $main-font;
    @include subtitle-13px($color-99-gray);
    padding: 12px 0 0;
  }

  &__number {
    font-family: $main-font;
    @include main($color-4F-black);
    font-weight: $fontWeightSemiBold;
    font-size: 14px;
    line-height: 1.4;
    padding: 4px 0 0;
  }
}

.reg {
  z-index: 1100;

  // Положение крестика
  & > div {
    & > button {
      top: 20px;
    }
  }

  &Modal {
    &Subtitle {
      margin: 0 0 6px 0;
      font-size: 13px;
      font-weight: $fontWeightMedium;
      line-height: 18px;
      color: $color-99-gray;
    }

    &Up {
      .regModal {
        &Header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          padding-bottom: 28px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    
        &Title {
          margin: 0 0 20px 0;
          font-size: 18px;
          font-weight: $fontWeightSemiBold;
          line-height: 27px;
          color: $color-39-black;
        }
  
    
        &Purse {
          margin: 0;
          font-size: 14px;
          font-weight: $fontWeightMedium;
          line-height: 19px;
          color: $color-4F-black;
          word-wrap: break-word;

          &Copy {
            margin-left: 10px;
            transform: translateY(5px);
          }
        }
      }
    }
  
    &Down {
      .regModal {
        &Button {
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }
  }
}

.notion {
  grid-area: notion;
  padding: 0;
  margin: 0;
  left: 0;
  @include second-subtitle-13px($color-4F-black);
  font-feature-settings: 'tnum' on, 'lnum' on;
}

@media screen and (min-width: 1139px) {
  .cardLong {
    display: none;
  }
}

@media screen and (max-width: 1140px) {
  .cardLong {
    display: flex;
  }

  .card {
    display: none;
  }
}

.iconsWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  p {
    @include subtitle-13px($color-4F-black);
    max-width: 275px;
  }  
}
.syncButton {
  @include section-title($color-4A-blue);
  outline: none;
  padding: 15px 0;
  max-width: 270px;
  margin: 30px 0;
  background-color: $white;
  border: 1px solid $color-4A-blue;
  border-radius: $border-radius;
  &:hover {
    border: 1px solid $color-31-blue;
    color: $color-31-blue;
  }
  &:active {
    border: 1px solid $color-2D-blue;
    color: $color-2D-blue;
  }
  &:focus {
    outline: $outline;
  }
}

.trust_subtitle {
  @include second-subtitle-13px($color-99-gray);
}

.walletId {
  grid-area: button;
  display: flex;
  align-items: center;
  max-width: 275px;
  max-height: 55px;
  margin: 30px 0;
  border: 2px solid $color-4D-green;
  border-radius: $border-radius;
  padding: 15px 30px;
  background-color: $white;
  svg {
    min-width: 24px;
    min-height: 24px;
    margin: 0 10px 0 0;
    }
  p {
    @include section-title($color-4A-blue);
    margin: 0;
    padding: 0;
    @include ellipsisText();
  }
}

.trust_cont {
  display: grid;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  grid-template-columns: fit-content(275px) minmax(min-content, max-content);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
  'button close'
  'notion notion';
}

.trust_kill {
  display: grid;
  grid-area: close;
  margin: 30px 0 25px 30px;
  padding: 5px;
  border: 1px solid $color-99-gray;
  border-radius: 50%;
  background-color: $white;
  outline: none;
  object-fit: contain;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 35px;
  height: 35px;

  &:hover {
    cursor: pointer;
    opacity: .5;
  }

  &:focus {
    outline: $outline;
  }
}