@import '../../../../scss/typography.scss';
@import '../../../../scss/vars.scss';

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
}

.title {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  transition: filter 0.3s ease;
  
  &:hover {
    filter: drop-shadow(0px 0px 15px rgb(25, 226, 255));
    cursor: pointer;
    transition: filter 0.3s ease;

    path {
      color: $primary-color;
      stroke: $primary-color;
    }
  }

  .svg {
    transition: stroke 0.3s ease;
  }
}

.text {
  margin: 0;
  @include font-style-inter(16px, 500, 24px, $color-E1-white);
  background-color: transparent;
}

.arrow {
  margin-left: 10px;
  height: 15px;
  transform: rotate(90deg);
}

.arrowActive {
  transform: rotate(-90deg);

  & > svg > path {
    stroke: $color-FC-yellow;
  }
}

.dropdown__menu {
  position: absolute;
  top: calc(100% + 10px);
  z-index: 10;

  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: $border-radius;
  
  background: $color-19-dark;
  box-shadow: 0 4px 25px rgba(112, 112, 112, 0.1);
  list-style: none;
  transition: opacity .3s ease;
  opacity: 0;
  visibility: hidden;
  
  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
  }
}
