@import '../../../vars&mixins.scss';
@import '../../../../../scss/cabinet';
@import '../../../../../scss/_vars';
@import '../../../../../scss/typography';

.pageCardBalance {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  grid-area: balance;

  &_invisible {
    display: none;
  }

  &__title {
    font-family: $main-font;
    @include main($dark-grey);
    font-weight: bold;
    font-size: 46px;
    line-height: 1.4;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 6px 0;
  }

  &__subtitle {
    font-family: $main-font;
    @include main($color-4F-black);
    font-weight: $fontWeightSemiBold;
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 35px 0;
  }
}

.backIcon {
  display: flex;
  box-sizing: border-box;
  margin: 0 12px 0 0;
  padding: 0;
}

.backButton {
  display: flex;
  box-sizing: border-box;
  border: none;
  margin: 0 0 23px 0;
  padding: 0;
  flex-direction: row;
  background-color: transparent;
  font-family: $main-font;
  @include main($dark-grey);
  font-weight: $fontWeightSemiBold;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.items {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 64px 0;
  align-items: center;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 140px;
  padding: 15px;
  margin: 0 10px 0 0;
  background: $color-F9-white;
  border-radius: $border-radius;
  @include subtitle-13px($primary-color);
  font-weight: $fontWeightSemiBold;

  &:hover {
    transition: background 0.3s ease;
    border: 1px solid $color-39-black;
    cursor: pointer;
    color: $color-39-black;
  }

  &:active {
    border: 1px solid $color-2D-blue;
    color: $color-2D-blue;
  }

  &:last-child {
    margin: 0;
  }
}

.item_active {
  background-color: $primary-color;
  transition: background 0.3s ease;
  color: $white;

  &:hover {
    transition: background 0.3s ease;
    cursor: pointer;
    background-color: $color-31-blue;
    color: $white;
  }

  &:active {
    background-color: $color-2D-blue;
    color: $white;
  }
}

.icon {
  display: flex;
  box-sizing: border-box;
  margin: 0 6px 0 0;
  padding: 0;
  width: 24px;
  height: 24px;
}