.row_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.status_tag {
  padding-left: 15%;
}

.orders_cell {
  width: calc(100% / 2);
}

.first_column {
  min-width: 271px;
  justify-content: flex-start;
}

.order_number {
  min-width: 108px;
  max-width: 110px;
  justify-content: flex-start;
}

.order_count {
  text-align: center;
  margin-left: 0;
}

.order_date {
  color: #000000;
  padding: 0 15px;
  margin-left: 0;
}

.order_price {
  text-align: right;
  font-weight: bold;
}
