@import '../../../../../../../../scss/vars.scss';
@import '../../../../../../../../scss/typography.scss';

.infoTableMobile__list {

  &__item{
    display: flex;
    padding: 0 20px;
    position: relative;
  }

  &__hard__disk{
    width: 53%;
    padding: 10px 0;

    &__name {
      @include font-style-ibmPlexSans(14px, 500, 22px, $color-E1-white);
      margin: 0;
    }
  }

  &__quantity{
    @include font-style-ibmPlexSans(14px, 400, 22px, $color-A4-gray);
  }

  &__size {
    display: flex;
    flex-direction: column;
    width: 37%;
    padding: 10px 0;

    &__content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 6px;
    }

    &__title {
      @include font-style-ibmPlexSans(14px, 400, 22px, $color-E1-white);
      margin: 0;
    }

    &__line {
      background: $color-DB-green;
      border-radius: 6px;
      height: 6px;

      &__bar {
        background: $color-00-green;
        border-radius: 6px;
        height: 6px;
      }
    }
  }

  &__temperature{
    display: flex;
    align-items: center;
    &__content {
      display: flex;
      align-items: center;
      background: $color-45-green;
      border-radius: 20px;
      padding: 3px 6px;

      &__text {
        @include font-style-ibmPlexSans(14px, 400, 22px, $color-E1-white);
        margin: 0;
        padding-left: 6px;
      }
    }
  }

  &__btn {
    width: 5%;
    background: none;
    border: none;
    align-self: center;
    margin: 0 auto;
  }
}
