@import '../../../../../vars&mixins.scss';
@import '../../../../../../../scss/cabinet';
@import '../../../../../../../scss/_vars';
@import '../../../../../../../scss/typography';

.list {
  margin: 0;
  padding: 0 0 25px 0;
  list-style-type: none;
}
  
.item, .item__minus {
  display: flex;
  align-items: center;
  padding: 14px 0 !important;

  & + & {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:first-of-type {
    padding-top: 22px;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  &__minus > span > p:first-child {
    @include subtitle-14px($color-F2-red);
  }
}

.switch {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-right: auto !important;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: -25px;

    width: 20px;
    height: 100%;

    background-image: url(../../../../images/switch-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__inner {
    display: flex;

    &:first-child {
      margin-bottom: 15px;
    }
  }
}

.image {
  margin-right: 13px !important;
  display: block;
  width: 26px;
  height: 26px;
}


.title {
  margin: 0 auto 2px 0 !important;

  @include subtitle-14px($color-gray-black);
  text-align: left;  
}

.data {
  display: block;
  flex: none;

  &__title {
    margin: 0;
    padding: 0;
    @include subtitle-14px($color-4D-green);
    text-align: right;
  }

  &__text {
    margin: 0;
    padding: 0;
    @include subtitle-13px($color-gray-mouse);
    text-align: right;
  }
}