@import '../../../../scss/typography.scss';
@import '../../../../scss/_vars.scss';

.equipment {
  color: white;
}

.container {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: $font-pressStart;
  font-size: 41px;
  line-height: 135%;
  text-align: center;
}

.block {
  display: flex;
  justify-content: space-between;
  
  .desck{
      position: relative;
  }

  p {
    font-size: 16px;
    line-height: 150%;
  }

  img {
    position: absolute;
    left: -20px;
  }
}
