.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:nth-child(1) {
    div {
      margin-right: 14px;
    }
  }

  &:nth-child(2) {
    width: inherit;
    margin: 0 14px;
  }

  &:nth-child(3) {
    div {
      margin-left: 14px;
    }
  }
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 36px;
  border-radius: 50%;
  background: #eff0f0;

  span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #99a0ad;
  }
}

.number_active {
  background: #4a70f8;

  span {
    color: #f0f5fd;
    opacity: 0.8;
  }
}

.line {
  height: 3px;
  background: #e5e5e5;
  flex: 1;
  border-radius: 10px;
}

.line_active {
  background: #4a70f8;
}

.container {
  display: flex;
  flex-direction: column;
}

.caption {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #3a3b3d;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 20px;
  }
}

.wrapper {
  display: flex;
  align-items: center;

  label {
    &:first-child {
      margin-right: 16px;
    }
  }
}

.block {
  display: flex;
  align-items: center;
  border: 1.4px solid #b4bfd5;
  border-radius: 14px;
  padding: 16px 10px;
  margin-top: 10px;
  height: 45px;
  width: 150px;

  input {
    border: none;
    width: 100%;
    padding: 0;
    outline: none;

    &::placeholder {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #b4bfd5;
    }
  }

  img {
    display: block;
  }
}

.date {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.input {
  width: 100px;
}
