@import '../../../../../scss/typography.scss';
@import '../../../../../scss/vars.scss';

.item {
    position: relative;
    padding: 0 0 20px 18px;
    border-left: solid 6px $primary-color;
    max-width: 340px;
}

.itemTitle {
    @include subtitle-14px($color-39-black);
    margin: 5px 0 0;
}

.itemDate {
    font-family: $font-inter;
    font-size: 14px;
    line-height: 17px;
    font-weight: $fontWeightRegular;
    color: $color-39-black;
    margin: 0;
}

.icon {
    position: absolute;
    top: 20px;
    left: -15px;
}