@import '../../../../../scss/cabinet';

.wallet {
  width: 100%;
  padding: 0 60px;
  margin: 0;
  background-color: $color-cyan-pale;
  border-radius: 14px;
  max-height: 137px;

  &_violet {
    background-color: #F0F5FD;;
  }

  & * {
    padding: 0;
    margin: 0;
  }

  &__title {
    display: inline-block;
    margin-top: 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: $color-gray-medium;
  }

  &__subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #4F535A;
    padding: 6px 0 0;
    margin: 0;
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 159px;
    width: 140px;
  }
}

.moreButton {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4A70F8;
  display: flex;
  border: none;
  background-color: transparent;
  padding: 14px 0 26px;
  margin: 0;
}

.scrollButtonLeft {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: -30px;
  z-index: 5;
  box-shadow: 20px 20px 52px rgba(0, 0, 0, 0.05);
  transition: border .3s ease;

  &:hover {
    cursor: pointer;
    border: 2px solid #4A70F8;
    transition: border .3s ease;
  }
}

.scrollButtonRight {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: -30px;
  z-index: 5;
  box-shadow: 20px 20px 52px rgba(0, 0, 0, 0.05);
  transition: border .3s ease;

  &:hover {
    cursor: pointer;
    border: 2px solid #4A70F8;
    transition: border .3s ease;
  }
}

.scrollIcon {
  display: flex;
  box-sizing: border-box;
  width: 7px;
  height: 14px;
  margin: 24px auto;
  padding: 0;
  transform: translateY(-2px);
  z-index: 10;
}

.arrowHidden {
  display: none;
}

.swiper {
  display: flex;
  position: relative;
  box-sizing: border-box;
  margin: 60px 0 0;
  padding: 0;
  width: 100%;
  overflow: visible;
}

.slide {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 1230px) {
  .wallet__image {
    right: 29px;
  }
}

@media screen and (max-width: 1100px) {
  .wallet {
    margin: 25px 0;
    max-height: 100%;
  }

  .wallet__subtitle {
    max-width: 50%;
  }
}
