@import '../../../vars&mixins.scss';
@import '../../../../../scss/cabinet';
@import '../../../../../scss/_vars';
@import '../../../../../scss/typography';

.wallet {
  padding: 0 60px;
  margin: 60px 0;
  background-color: $color-cyan-pale;
  border-radius: $border-radius;
  max-height: 137px;

  &_violet {
    background-color: $color-FO-white;
  }

  & * {
    padding: 0;
    margin: 0;
  }

  &__title {
    display: inline-block;
    margin-top: 18px;
    font-weight: $fontWeightSemiBold;
    font-size: 16px;
    line-height: 1.5;
    color: $color-gray-medium;
  }

  &__subtitle {
    font-family: $main-font;
    @include subtitle-14px($color-4F-black);
    font-weight: $fontWeightMedium;
    padding: 6px 0 0;
    margin: 0;
  }

  &__image {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10%;
    width: 140px;
  }
}

.moreButton {
  font-family: $main-font;
  @include main($primary-color);
  font-weight: $fontWeightSemiBold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  border: none;
  background-color: transparent;
  padding: 14px 0 26px;
  margin: 0;
}

.scrollIcon {
  display: flex;
  box-sizing: border-box;
  width: 7px;
  height: 14px;
  margin: 24px auto;
  padding: 0;
  transform: translateY(-2px);
  z-index: 10;
}

.arrowHidden {
  display: none;
}

.swiperWrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  :global(.swiper-button-prev), :global(.swiper-button-next) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid $white;
    width: 49px;
    height: 49px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 5;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.05);
    transition: border .3s ease;
    background-repeat: no-repeat;
    background-size: 30% 30%;
    background-position: center center;
    &::after {
      content: '';
    }
    &:hover {
      cursor: pointer;
      border: 2px solid $primary-color;
      transition: border .3s ease;
    }
  }
  :global(.swiper-button-prev) {
    background-image: url(../../../../../assets/icons/arrow-left-blue.svg);
    transform: translate(-15%, -50%);
  }
  :global(.swiper-button-next) {
    background-image: url(../../../../../assets/icons/arrow-right-blue.svg);
    transform: translate(15%, -50%);
  }
  :global(.swiper-button-disabled) {
      display: none;
    }
}

@media screen and (max-width: 1230px) {
  .wallet__image {
    right: 0;
  }
}

@media screen and (max-width: 1100px) {
  .wallet {
    margin: 25px 0;
    max-height: 100%;
  }

  .wallet__subtitle {
    max-width: 50%;
  }
}
