@import '../../../../../../scss/typography.scss';
@import '../../../../../../scss/_vars.scss';

.container {
  display: flex;
  padding: 20px 50px;
  flex-direction: column;
  align-items: center;
  max-width: 175px;
  border-radius: 30px;
  @include font-style-ibmPlexSans(36px, 600, 120%, $color-E1-white);
  background-color: $color-1F-dark;
  .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }
}

.container_mobile {
  @include font-style-ibmPlexSans(26px, 600, 120%, $color-E1-white);
  max-width: 134px;
  padding: 14px 30px;
}
